<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <link rel="stylesheet" href="/css/host-menu.css" />
  </head>
  <body>
    <%- include('../partials/header')%>
    <main>
      <div class="host-main-section-wrapper">
        <section class="host-property-section">
          <header>
            <div class="host-main-section-heading">
              <a href="#" class="host-contact-us-text"
                >¿Querés agregar una propiedad?<br />Contactá con nosotros</a
              >
            </div>
          </header>
          <div class="host-main-section-content">
            <h2 class="host-section-text-header main-section-header-style">
              Aquí se muestran tus propiedades publicadas
            </h2>
            <div class="host-property-display">
              <div class="host-property-card">
                <div class="property-card-description">
                  <span>Departamento en Bariloche</span>
                </div>
                <div class="property-photo-wrapper">
                  <img
                    src="/images/host-property-card.webp"
                    alt="Interior de Departamento"
                    class="property-card-photo"
                  />
                </div>
                <div class="property-card-footer">
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-ban"></i>
                  </a>
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                </div>
              </div>
              <div class="host-property-card">
                <div class="property-card-description">
                  <span>Departamento en Bariloche</span>
                </div>
                <div class="property-photo-wrapper">
                  <img
                    src="/images/host-property-card.webp"
                    alt="Interior de Departamento"
                    class="property-card-photo"
                  />
                </div>
                <div class="property-card-footer">
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-ban"></i>
                  </a>
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                </div>
              </div>
              <div class="host-property-card">
                <div class="property-card-description">
                  <span>Departamento en Bariloche</span>
                </div>
                <div class="property-photo-wrapper">
                  <img
                    src="/images/host-property-card.webp"
                    alt="Interior de Departamento"
                    class="property-card-photo"
                  />
                </div>
                <div class="property-card-footer">
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-ban"></i>
                  </a>
                  <a href="#" class="property-card-footer-button">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include('../partials/footer')%>
  </body>
</html>
