<!--TODOS LOS PRODUCTOS DESDE ACA
<% if (products.length > 0) { products.forEach(p =>{ %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= p.name %></h5>
    <p class="card-text"><%= p.description %></p>
    <a href="/products/productDetail" class="btn btn-primary">SELECCIONAR</a>
  </div>
</div>
<% 	})}else{ %>
TODOS LOS PRODUCTOS HASTA ACA-->