<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TuLugar</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/register.css">
  <link href="/css/product-car.css" rel=stylesheet>
  <!--libreria BOOSTRAP version 5.1.3-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="registerHeader">
    <div class="topHeaderRegister">
      <!--LOGO-->
      <div class="logoHeaderRegister">
        <a href="./"><img src="images/TULUGAR.gif" alt="logo de la pagina con movimiento" width="40%" /></a>
      </div>
    </div>
  </header>
  <!--------------------------------------------------------------------termina el header-->

  <main>
    <h2 class="main-header">Tu reserva</h2>
    <div class="main-cont">

      <div class="subc-1">
        <!-- -------------------------------------------------------------------------------- -->
        <div class="C-4" id="a4">
          <section>
            <div class="cont-fecha-editar">
              <h3>Fecha</h3>
              <h4><a href="#"> Editar</a></h4>
            </div>
            <div>
              <h4>3 al 10 de noviembre</h4>
            </div>
          </section>
          <hr>
          <section>

            <div class="cont-fecha-editar">
              <h3>Huespedes</h3>
              <div>
                <h4><a href="#"> Editar</a></h4>
              </div>
            </div>
            <div>
              <h4>3 personas</h4>
            </div>
          </section>
          <div class="emul_head4">
            <img src="images/wifi.svg" alt="">
          </div>


          <!-- <h6>Wi-fi </h6> -->
          </section>
        </div>


        <!-- -------------------------------------------------------------------------------- -->
        <div class="mainh2">
          <h3>Inicia sesión o registrate para comenzar</h3>
        </div>
        <!-- -------------------------------------------------------------------------------- -->
        <div class="C-4" id="a4">
          <section class="sect-4">
            <div class="card-">
              <div class="pay-visa-">
                <a href="#">
                  <img class="pay-visa-" src="images/google.svg" alt=""></a>
              </div>
            </div>
            <h2></h2>



            <!-- -------------------------------------------------------------------------------- -->

            <!-- -------------------------------------------------------------------------------- -->
            <div class="card-">

              <div class="pay-visa-">
                <a href="#">
                  <img class="pay-visa-" src="images/facebook (1).svg" alt=""></a>
              </div>
              <h2></h2>

            </div>
            <!-- -------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->
            <div class="card-">

              <div class="pay-visa-">
                <a href="#">
                  <img class="pay-visa-" src="images/apple-black-logo.svg" alt=""></a>
              </div>
              <h2></h2>
          </section>
          <hr>
        </div>




        <!-- -------------------------------------------------------------------------------- -->



        <div class="C-5" id="a4">
          <section class="sect-5">
            <div class="card-">
              <div class="pay-visa-">
                <a href="#">
                  <img class="pay-visa-" src="images/email.svg" alt=""></a>
              </div>
            </div>
            <h2></h2>
          </section>

          <!-- ---------------------------- -->
          <section class="sect-5">
            <div class="card-">
            </div>
            <h4>Registrate con conrreo electrónico</h4>
          </section>

        </div>


        <!-- --------------------------------- -->



      </div>
      <div class="subc-2">
        <!-- -------------------------------------------------------------------------------- -->
        <div class="C-6" id="a4">

          <div class="card6" id="a">
            <div class="emul_head6">
              <img src="images/img-2.jpg" alt="">
            </div>

            <section class="sect-6">
              <h4>Deparatamento Bariloche vista al lago</h4>
            </section>
          </div>
          <div class="card7">
            <h2>Detalles del precio</h2>
            <div class="card7-caja1">
              <div>
                <h4> 15.000 por 10 noches</h4>
              </div>
              <div>
                <h4>$150.000</h4>
              </div>
            </div>
            <div class="card7-caja1">
              <div>
                <h4>Promociones</h4>
              </div>
              <div>
                <h4>$0</h4>
              </div>
            </div>
            <div class="card7-caja1">
              <div>
                <h4>Oferta semanal</h4>
              </div>
              <div>
                <h4>$0</h4>
              </div>
            </div>

            <div class="card7-caja1">
              <div>
                <h4>Recargos y adicionales</h4>
              </div>
              <div>
                <h4>$5.000</h4>
              </div>
            </div>

            <div class="card7-caja1">
              <div>
                <h4>TOTAL</h4>
              </div>
              <div>
                <h4>$155.000</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- -------------------------------------------------------------------------------- -->
    </div>


    <!-- <section class="S-ingresado"> 
  <div class="txt0"><h2>Felicitaciones!! Estos son los servicios en tu carrito</h2></div>    
  
  
  <div class="c-tabla"></div>
  <div class="tabla">
  <div class="t-apellido">Apellido</div>
  <div class="r-apellido">González</div>
  <div class="t-nom">Nombre</div>
  <div class="r-nom">Jorge Josè Pedro </div>
  <div class="t-reserva">Lugar que  vas a reservar</div>
  <div class="r-reserva">Departamento vista al lago Bariloche</div>
  <div class="t-chin">Check-in</div>
  <div class="r-chin">Junio 20 de 2022</div>
  <div class="t-chout">Check-out</div>
  <div class="r-chout">Junio 30 de 2022</div>
  <div class="t-khuesped">Cantidad total de huespedes</div>
  <div class="r-khuesped"> 5 huespedes</div>
  <div class="t-kmayores">Huespedes mayores</div>
  <div class="r-kmayores"> 2 mayores</div>
  <div class="t-kmenores">Huespedes menores</div>
  <div class="r-kmenores">3 menores</div>
  <div class="t-precio-unit">Precio unitario</div>
  <div class="r-precio-unit"> $15.000</div>
  <div class="t-noches"> Noches</div>
  <div class="r-noches"> 10 noches</div>
  <div class="t-recargos">Recarg. varios (*)</div>
  <div class="r-recargos"> $50.000</div>
  <div class="t-total">Total </div>
  <div class="r-total">$200.000</div>
  <div class="t-precio-reserva">Monto de reserva(**)</div>
  <div class="r-precio-reserva">$50.000</div>
</div>
<h5 class="txt-">* Es el total con recargo por cantidad de huespedes y servicios adicionales contratados</h5>
<h5 class="txt-">* Es el monto mínimo a abonar para que la reserva quede en firme</h5>
  </section> <hr>
  <section class="s-ingresar">
   -->

    <div class="svc-adic">
      <h2>Podés acceder a servicios adicionales:</h2>

      <label class="b-contain">
        <span>Servicio de Habitación: $2.500 por dia</span>
        <input type="checkbox">
        <div class="b-input"></div>
      </label>
      <label class="b-contain">
        <span>Servicio de transporte desde y hasta el aeropuerto: $5.000</span>
        <input type="checkbox" checked>
        <div class="b-input"></div>
      </label>

      <label class="b-contain">
        <span>Servicio de guia turístico: $8.000</span>
        <input type="checkbox" checked>
        <div class="b-input"></div>
      </label>

    </div>
    <div class="c-botones">
      <div class="boton-agregar" type="submit">Agregar al carrito</div>
      <div class="boton-quitar" type="reset">Editar/Quitar del carrito</div>
    </div>
    </section>
    <hr>
    <hr>
    <section class="s-confirmado">
      <div class="svc-adic">
        <h2>Carrito completo? Accedé a cualquiera de estos medios para abonar la reserva</h2>
      </div>
      <div class="c-card0">
        <div class="card">
          <div class="pay-visa"> <a href="#"><img src="images/visa.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Hasta 12 cuotas</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa"><a href="#"> <img src="images/maestro.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Hasta 6 cuotas</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa">
            <a href="#">
              <img src="images/american-express.svg" alt=""></a>
          </div>
          <div class="cont-p">
            <p>Hasta 12 cuotas</p>
          </div>
        </div>

      </div>


      <div class="c-card0">
        <div class="card">
          <div class="pay-visa"> <a href="#"><img src="images/bank.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Se acredita al instante</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa"><a href="#"> <img src="images/apple-pay.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Pagá desde tu dispositivo</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa">
            <a href="#">
              <img src="images/paypal.svg" alt=""></a>
          </div>
          <div class="cont-p">
            <p>Pagà en forma segura</p>
          </div>
        </div>

      </div>

      </div>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <div class="svc-adic">
        <h2>Querès consultar algo? Accedé a contactarte con el propietario y despejá tus dudas</h2>
      </div>
      <div class="c-card0">
        <div class="card">
          <div class="pay-visa"> <a href="#"><img src="images/telephone.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Click para llamar</p>
          </div>
        </div>

        <div class="card">
          <div class="pay-visa"><a href="#"> <img src="images/whatsapp.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Envia un mensaje</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa">
            <a href="#">
              <img src="images/email.svg" alt=""></a>
          </div>
          <div class="cont-p">
            <p>Escribi al propietario</p>
          </div>
        </div>
      </div>
    </section>
    <button class="submitRegister" type="submit">
      <a class="a" style="font-size: larger">COMPRAR</a>
    </button>
    <br><br>
  </main>
  <footer class="registerFooter">
    <div>
      <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
      <p> Hola. ¿Cómo podemos ayudarte?</p>
      <p>Iniciá sesión para recibir ayuda con las reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de
        usuario "Primeros pasos en TuLugar" y si todavía necesitas asesoramiento no dudes en contactarnos.</p>
    </div>
    <div>
      <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
      <p> La manera en la que las personas viajan, trabajan y viven se está transformando. Desde innovaciones de
        producto hasta actualizaciones del programa “Alquila donde quieras en Argentina con TuLugar”, pasando por las
        últimas tendencias de viaje, descubre cómo se está adaptando TuLugar al futuro de los alquileres.</p>
      <p>¿Queres saber mas? Seguinos en las redes.</p>
    </div>
    <div>
      <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
      <p>TuLugar Teléfono Argentina: <b>+54 11 55 55 55 55</b>.</p>
      <p>TuLugar correo: <b>alquileresTemporarios@tulugar.com</b>. <a class="a" href="https://mail.google.com/"><i
            class="fas fa-envelope-open iconos"></i></a></p>
      <p>Contactar por Twitter: Conectarse en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM (mensaje
        directo).</p>
      <p>Contactar por Facebook: buscar la cuenta TuLugar oficial y publicar un mensaje
        (https://www.facebook.com/TuLugar/)</p>
    </div>
    <div>
      <h4>Nuestras redes <i class="fa fa-heart iconos"></i></h4>
      <p> Seguinos en todas nuestras redes y enamorate de cada rincon del país.</p>
      <h4><a class="a" href="https://twitter.com/"><i class="fab fa-twitter iconos"></i></a></h4>
      <h4><a class="a" href="https://www.facebook.com/"><i class="fab fa-facebook-square iconos"></i></a></h4>
      <h4><a class="a" href="https://www.instagram.com/"><i class="fab fa-instagram iconos"></i></a></h4>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>