<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <header class="main-header">
    <div class="header-top-bar">
      <div class="header-logo-wrapper">
        <img src="/images/TULUGARbajo.gif" alt="Logo del sitio" class="header-logo">
      </div>
      <% if (locals.usuarioLogueado) { %>
      <nav class="header-logreg-wrapper">
      <img src="/usersImages/<%= locals.usuarioLogueado.imagenDePerfil %>" width="40%" style="border-radius: 10%; margin-right: 2%;"> 
      <div>
        <h2><%= locals.usuarioLogueado.usuario %></h2>
      </div>
          <% } else { %>
        <div class="logreg-button" id="login-button">
          <a class="logreg-link" href="/users/login">Iniciar sesión</a>
        </div>
        <div class="logreg-button" id="register-button">
          <a class="logreg-link" href="/users/register">Registrarse</a>
        </div>
      </nav>
      <% } %>
      <div class="burger-button-wrapper">
        <div class="burger-button">
          <a class="burger-icon" href="#">&#9776;</a>
          <ul class="burger-list">
            <li class="burger-item-wrapper">
              <a href="/users" class="burger-item"><strong>Conviértete en anfitrión</strong></a>
            </li>
            <li class="burger-item-wrapper">
              <a href="/users/info" class="burger-item">Información para huéspedes</a>
            </li>
            <li class="burger-item-wrapper">
              <a href="#" class="burger-item">Test del viajero</a>
            </li>
            <% if (locals.usuarioLogueado) { %>
            <li class="burger-item-wrapper">
              <a href="/users/logout" class="burger-item">Cerrar sesión</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>

    <form class="header-form" action="/products/search" method="GET">
      <div class="header-search-wrapper">
        <input type="text" name="city" class="header-search-input" placeholder="¿Cuál es tu próximo destino?" required>
        <button type="submit" class="header-search-button">
          <i class="fa-solid fa-magnifying-glass search-button-icon"></i>
        </button>
      </div>
      <div class="header-form-wrapper">
        <div class="header-picker-label-wrapper">
          <label for="date-checkin" class="header-label">Check-in</label>
          <input type="date" name="date-checkin" id="date-checkin" class="header-form-picker">
        </div>
        <div class="header-picker-label-wrapper" id="header-checkout-wrapper">
          <label for="date-checkout" class="header-label">Check-out</label>
          <input type="date" name="date-checkout" id="date-checkout" class="header-form-picker">
        </div>
      </div>
      <div class="header-form-wrapper">
        <div class="header-picker-label-wrapper">
          <label for="adults-number" class="header-label">Adultos</label>
          <input type="number" name="adults-number" id="adults-number" max="6" min="0" class="header-form-picker">
        </div>
        <div class="header-picker-label-wrapper" id="header-kids-wrapper">
          <label for="kids-number" class="header-label">Niños</label>
          <input type="number" name="kids-number" id="kids-number" max="6" min="0" class="header-form-picker">
        </div>
      </div>
    </form>

  </header>

  <main>
    <div class="products-button">
      <a class="logreg-link" href="/products"><h2> Todas nuestras propiedades <i class="fa fa-house"></i></h2></a>
    </div>
    <div class="main-section-wrapper">
      <section class="main-section carousel">
        <div class="main-section-header-wrapper carousel">
          <h2 class="main-section-header-style carousel">Los destinos más visitados</h2>
        </div>
        <div class="main-section-content-wrapper carousel slide" id="carousel" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/index-carousel-perito.png" class="d-block w-100 carousel-img"
                alt="Glaciar Perito Moreno">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Glaciar Perito Moreno</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/index-carousel-bsas.png" class="d-block w-100 carousel-img"
                alt="Ciudad Autónoma de Buenos Aires">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Buenos Aires</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/index-carousel-mendoza.png" class="d-block w-100 carousel-img" alt="Viñedos en Mendoza">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Viñedos en Mendoza</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/index-carousel-cataratas.png" class="d-block w-100 carousel-img"
                alt="Cataratas del Iguazú">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Cataratas del Iguazú</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section class="main-section host">
        <div class="main-section-header-wrapper host">
          <h2 class="main-section-header-style host">¿Querés ser</h2>
          <h2 class="main-section-header-style host">anfitrión?</h2>
        </div>
        <div class="main-section-content-wrapper host">
          <div class="main-section-button-wrapper host">
            <div class="hosting-button">
              <a href="/users/info" class="hosting-button-anchor">Información</a>
            </div>
            <div class="hosting-button">
              <a href="/products/create" class="hosting-button-anchor">Publicar propiedad</a>
            </div>
          </div>
      </section>
      <section class="main-section test">
        <div class="main-section-content-wrapper test">
          <div class="main-section-text-wrapper">
            <p>Tomá el test del viajero para</p>
            <p>conocer un destino en base</p>
            <p>a tus <strong>preferencias</strong> y</p>
            <p>las valoraciones de</p>
            <p>la <strong>comunidad</strong></p>
          </div>
          <div class="traveler-test-button-area">
            <a href="#" class="traveler-test-button">Hacer el test!</a>
          </div>
        </div>
      </section>
      <!-- <section class="main-section best">
        <div class="main-section-text-wrapper best">
          <p class="main-section-header-style white-header-font">Destacados</p>
          <p class="main-section-header-style white-header-font">de cada región</p>
        </div>
        <div class="main-section-content-wrapper best">
          <img src="/images/argentina-map.svg" usemap="#image-map">
          <map name="image-map" class="image-map">
            <div class="map-area-container">
              <area target="" alt="patagonia" title="patagonia" href=""
                coords="22,474,44,502,95,518,89,534,128,552,175,555,199,573,199,614,213,626,191,628,162,616,164,661,180,670,193,660,197,680,187,683,176,675,165,683,180,690,166,701,160,721,162,735,155,757,123,772,114,797,131,821,156,827,154,853,122,891,123,918,99,938,99,964,116,998,117,1030,154,1061,168,1069,179,1065,175,1076,156,1082,119,1079,117,1040,109,995,86,987,51,993,39,982,36,954,19,960,9,931,7,907,17,906,24,876,19,863,30,818,25,787,32,776,15,766,31,761,31,748,19,747,11,710,2,678,10,670,4,596,19,558,7,510,11,487"
                shape="poly">
            </div>
            <area target="" alt="cuyo" title="cuyo" href=""
              coords="79,512,75,467,152,460,149,371,153,344,134,326,133,296,141,270,133,243,113,228,105,211,90,212,86,218,74,216,70,209,58,206,53,198,39,196,30,216,19,250,22,279,15,296,7,316,18,341,20,357,26,377,34,383,33,413,25,428,20,448,22,474,32,487,42,499,60,506"
              shape="poly">
            <area target="" alt="pampeana" title="pampeana" href=""
              coords="341,286,331,272,297,273,298,244,317,203,242,200,229,276,217,275,209,257,154,250,154,267,142,273,133,304,136,327,155,348,151,373,153,461,76,470,80,510,96,517,91,532,127,550,174,554,199,572,200,613,214,625,227,613,223,603,227,589,234,575,223,554,297,534,341,494,337,453,322,416,323,393,325,370,335,363,332,324,341,306"
              shape="poly">
            <area target="" alt="costa-atlantica" title="costa-atlantica" href=""
              coords="327,420,355,439,347,464,361,475,363,489,340,530,283,552,241,558,230,553,299,534,343,493,339,452"
              shape="poly">
            <area target="" alt="noroeste" title="noroeste" href=""
              coords="240,199,240,125,194,125,223,83,222,23,205,12,176,8,165,32,156,13,124,11,108,1,110,13,85,32,92,39,85,73,54,87,48,101,53,110,49,119,56,144,49,156,59,172,45,178,38,195,53,196,58,205,70,208,75,214,85,216,90,209,105,209,115,229,135,243,142,268,152,267,152,248,210,256,217,271,227,274"
              shape="poly">
            <area target="" alt="noreste" title="noreste" href=""
              coords="342,285,333,271,299,272,300,244,320,202,241,198,242,124,198,123,226,83,224,30,273,76,281,77,355,116,338,147,326,175,375,189,391,180,404,183,429,161,438,128,454,125,461,141,460,172,409,206"
              shape="poly">
          </map>
        </div>
      </section> -->
    </div>
  </main>

  <%- include('partials/footer'); %>

    <nav class="sticky-navbar">
      <a class="sticky-icon" href="#">&#9776;</a>
      <ul class="sticky-list">
        <li class="sticky-item-wrapper">
          <a href="/users/register" class="sticky-item"><strong>Registrarse</strong></a>
        </li>
        <li class="sticky-item-wrapper">
          <a href="/users/login" class="sticky-item">Iniciar sesión</a>
        </li>
        <li class="sticky-item-wrapper">
          <a href="/users/dashboard" class="sticky-item">Mis propiedades</a>
        </li>
        <li class="sticky-item-wrapper">
          <a href="#" class="sticky-item">Test del viajero</a>
        </li>
      </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>