<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDOS A MERCADO LIEBRE</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/product-car.css" rel= stylesheet >
</head>
<body>
  <div class="contenedor">
    <header class="main-header">
  <div class="n2-enc">
        <div class="n3-enc"><a href="#" class="hamburguer"><i class="fas fa-bars"></i></a></div>
        <div class="n3-enc-lg"></div><img src="images/TULUGAR.gif" alt="" width="100px" height="100px" class="logo">
        <!-- <img class="logo" src="images/llogo.png" alt=""> -->
        <div class="n3-enc-gr">
        <div class="copyP"><h2 >Publicar</h2></div>
        <div class="copyI"><h2 > <a href="/productCar.html">Ingresá </a></h2></div>
        </div>
      </div>
      
</div>
</header>
<main>
  <section class="S-ingresado"> 
  <div><h2>Felicitaciones!! Estos son los servicios en tu carrito</h2></div>    
  
  
  
  <div class="tabla">
  <div class="t-apellido">Apellido</div>
  <div class="r-apellido">González</div>
  <div class="t-nom">Nombre</div>
  <div class="r-nom">Jorge Josè Pedro </div>
  <div class="t-reserva">Lugar que  vas a reservar</div>
  <div class="r-reserva">Departamento vista al lago Bariloche</div>
  <div class="t-chin">Check-in</div>
  <div class="r-chin">Junio 20 de 2022</div>
  <div class="t-chout">Check-out</div>
  <div class="r-chout">Junio 30 de 2022</div>
  <div class="t-khuesped">Cantidad total de huespedes</div>
  <div class="r-khuesped"> 5 huespedes</div>
  <div class="t-kmayores">Huespedes mayores</div>
  <div class="r-kmayores"> 2 mayores</div>
  <div class="t-kmenores">Huespedes menores</div>
  <div class="r-kmenores">3 menores</div>
  <div class="t-precio-unit">Precio unitario</div>
  <div class="r-precio-unit"> $15.000</div>
  <div class="t-noches"> Cantidad de noches</div>
  <div class="r-noches"> 10 noches</div>
  <div class="t-recargos">Recargos varios</div>
  <div class="r-recargos"> $5.000</div>
  </section>
  <section class="s-ingresar">
  </div>

  <div>Servicios adicionales
  <div>Servicio de Habitación</div>
  <div>Servicio de transporte desde y hasta el aeropuerto</div>
  <div>Servicio de guia turístico</div>
  </div>
  <div>Agregar al carrito</div>
  <div>Editar/Quitar del carrito</div>
</section>
<section class="s-confirmado">
  <div> Carrito completo, abonar reserva</div>

  <div>Visa</div>
  <div>MasterCard</div>
  <div>MercadoPago</div>
  <div>Amex</div>
  <div>Transferencia Bancaria</div>
  <div>Pay Pal</div>
  </section>
</main>
</body>
</html>