<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuLugar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <link href="/css/product-detail.css" rel= stylesheet >
</head>
<body>
  <div class="contenedor">
    <header class="registerHeader">
      <div class="topHeaderRegister">
        <!--LOGO-->
        <div class="logoHeaderRegister">
          <a href="./"><img
            src="images/TULUGAR.gif"
            alt="logo de la pagina con movimiento"
            width="40%"
          /></a>
        </div>
        <!--boton de HEADER
        <div>
          <button type="button" class="butoonHEaderRegister">
            <a href="/"> VOLVER </a>
          </button>
        </div>
      </div>-->
    </header>
    <!--texto de HEADER-->
    <div class="cajaTituloHeaderRegister">
      <p class="tituloHeaderRegister desaparecerEnMediano">
        Con nosotros encontra TULUGAR!
        <p class="tituloHeaderRegister apareceMedianoRegister">TuLugar</p>
      </p> 
    </div>
    <div class="s-container">
<!-- -------------------------------------------------------------------------------- -->
<div class="card" id="a">
        <div class="emul_head">
          <img src="images/612X408.jpg" alt="">
        </div>
    
        <section>
          <h2>Un lugar</h2>
          <h3>Quizá lo pensaste</h3>
        </section>
    </div>       
<!-- -------------------------------------------------------------------------------- -->

        <div class="card" id="a2">
            <div class="emul_head">
              <img src="images/pequeñas.jpg" alt="">
            </div>
        
            <section>
              <h2>Una forma de ver las Cosas</h2>
              <h3>Porque sabès que es posible</h3>
            </section>
    </div>
 <!-- ------------------------------------------------------------------------------fn-----------------    -->
<!-- -------------------------------------------------------------------------------- -->

<div class="card" id="a3">
    <div class="emul_head">
      <img src="images/img-5-1.jpg" alt="">
    </div>

    <section>
      <h2>La vida a pleno</h2>
      <h3>En medio de la naturaleza</h3>
    </section>
</div>
<!-- ------------------------------------------------------------------------------fn-----------------    -->



</div>


<div class="main-2">
<!-- -------------------------------------------------------------------------------- -->
<div class="card3" id="a3">
    <div class="emul_head3">
      <img src="images/img-5-1.jpg" alt="">
    </div>

    <section class="sect-3">
      <h2>Alquiler Departamento Ollagua Bariloche </h2>
      <h3><div class="fstar">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star">  40 valoraciones</i>
      </div></h3>
      <p class="descripcion">El departamento de 50 m2 de alquiler temporario turistico, se encuentra en SAN CARLOS DE BARILOCHE, en el edificio OLLAGUA el cual es de categoria, con dos modulos , dos ascensores, quincho (COSTO ADICIONAL) y parrilla, PISCINA CUBIERTA Y JACUZZI, Conexion WIFI, ademas tiene acceso al lago, 3er piso. para 4 personas sobre la playa con vista paradisiaca al lago nahuel huapi, baño completo con bañera, un dormitorio, cocina completa integrada al estar/comedor con una barra desayunador, excelente para 4 personas , baño, iluminacion increible, con vista y ruido del lago</p>
      <div class="cont-button-read-contacto">
        <div class="s-sub-cont-button-read">
       <button class="readMore_btn" id="hideText_btn">Read More</button><br><br><br><br>
       </div>
    </section>
</div>







<div class="card2" id="a2">
    <div class="emul_head2">
      <img src="images/img-5-1.jpg" alt="">
    </div>

    <section class="sect-2">
      <form action="/registro" method="get" >
       <span> <p class="p-precio">$15.000 </p></span>
        <span><p class="p-sub-precio"> c/noche</p></span>
      <label for="nombre" class="lb">Apellido y Nombre </label>
      <input type="text" name="nombre" id="nombre" class="nom"><br>
      <label for="nombre" class="lb">Ingreso </label>
      <input type="date" name="ingreso" id="name" ><br>
      <label for="nombre" class="lb">Hasta </label>
      <input type="date" name="hasta" id="name"><br>
      <label for="huespedk" class="lb">Cantidad de huespedes </label>
      <input type="text" name="huespedesk" id="lb"><br>
      <label for="huespedMY" class="huespedMY"> Mayores </label>
      <input type="text" name="huespedesMY" id="lb"><br>
      <label for="huespedMn" class="lb">Menores </label>
      <input type="text" name="huespedesMn" id="lb"><br>
      <button tabindex="submit" class="button-send">AGREGAR AL CARRITO</button>
      <div class="button-contacto">
        <button tabindex="submit" class="button-c"> LLAMAR</button>
        <button tabindex="submit" class="button-c"> <i class="fab fa-whatsapp-square"></i></button>
        <button tabindex="submit" class="button-c"> <i class="fas fa-share-alt"></i></button>
        <button tabindex="submit" class="button-c"> <i class="far fa-heart"></i></i></button>
        </div> 
      </form>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, corporis.</p>
    </section>
</div> 
<div class="sect-33"><h2>Servicios con que contamos</h2></div>

<div class="main-4">
    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/wifi.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Wi-fi </h6>
        </section>
    </div>

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/piscina.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Piscina </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/garage.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Cochera </h6>
        </section>
    </div>
 

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/ropa-cama.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Ropa de cama </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="/images/limp-hab.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Limpieza de habitaciòn </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/barbecue.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Barbacoa </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/lavado-ropa.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Lavado automatico de ropa </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/tv-monitor.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Smart tv </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/serv-habitacion.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Servicio en habitaciòn </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/toallas.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Suministro de toallas </h6>
        </section>
</div>    

    <!-- -------------------------------------------------------------------------------- -->
    <div class="card4" id="a4">
        <div class="emul_head4">
          <img src="images/dont-smoke.svg" alt="">
        </div>
        <section class="sect-4">
          <h6>Libre de humo </h6>
        </section>
</div>    
</div> 


<hr>
<div class="sect-33"><h2>Galería de fotos y ubicación </h2></div>
<hr>

<div class="gallery-container">
        
    <div class="gallery-item">
      <img src="images/img-1.jpg" alt="" class="gallery-img">
      <h2 class="gallery-title"></h2>
    </div>
    <div class="gallery-item">
      <img src="images/img-2.jpg" alt="" class="gallery-img">
      <h2 class="gallery-title"></h2>
    </div>
    <div class="gallery-item">
      <img src="images/img-3.jpg" alt="" class="gallery-img">
      <h2 class="gallery-title"></h2>
    </div>
    <div class="gallery-item">
      <img src="images/bari-5.webp" alt="" class="gallery-img" id="img1200">
      <h2 class="gallery-title"></h2>
    </div>
    <div class="gallery-item">
      <img src="images/img-4.jpg" alt="" class="gallery-img">
      <h2 class="gallery-title">Ver mas</h2>
      </div>
    </div>
<div class="main-5">
    <div class="card5" id="a5">
        <div class="emul_head5">
          <img src="images/geo.JPG" alt="">
        </div>
</div>    
</div> 


<div class="main-6">

    <hr>
<div class="sect-33"><h2>Cosas importantes que debès tener en cuenta </h2></div>
<hr>

<div class="card6" id="a">
    <div class="emul_head6">
      <img src="images/bari-1.jpg" alt="">
    </div>
    <section class="sect-6">
      <h2>Condiciones de Alojamiento</h2>
      <h3>Seña:25% de pago anticipado</h3>
      <h3>Estadía mínima: 1 Noche</h3>
      <p>La seña depositada no se reintegra en caso de cancelaciòn por causa del cliente</p>
    </section>
</div>       
<div class="card6" id="a">
    <div class="emul_head6">
      <img src="images/bari-2.jpg" alt="">
    </div>
    <section class="sect-6">
      <h2>Normas particulares del alojamiento</h2>
      <h3>No se permiten mascotas</h3>
      <h3> No se aceptan grupos de jòvenes</h3>
      <p>Por favor , lea atentamente las condiciones particulares que el propietario ha establecido</p>
    </section>
</div>


<div class="card6" id="a">
    <div class="emul_head6">
      <img src="images/bari-3.jpg" alt="">
    </div>
    <section class="sect-6">
      <h2>Polìtica de gratantìa</h2>
      <h3>Se requiere un depòsito en garantìa o bloqueo de tarjeta al ingreso</h3>
      <h3>Es requisito indispensable DNI o pasaporte de cada uno de los huèspedes</h3>
      <p>Tenga en cuenta la Polticia de garantìa y los requisitos adicionales que determina el propietario</p>
    </section>
</div>



</div>

    <hr>
    <div class="sect-33"><h2>Reseñas y experiencias de otros usuarios </h2></div>
    <hr>


<div class="main-7">
    <div class="card7" id="a">
        <div class="emul_head7">
          <img src="images/bari-2.jpg" alt="">
        </div>
        <section class="sect-7">
          <h2><span class="s"><i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span></h2>
            <h2>40 valoraciones</h2><hr>
            <h2>Jorge , Bahìa Blanca</h2>
          <p>Espectacular dpto y maravillosa atención de Flavio! Pasé año nuevo con amigas allí y realmente un sueño... La vista, el departamento precioso, las comodidades del edificio, la ubicación y la atención de Flavio y compañía. Volería mil veces, lo super recomiendo!</p>
        </section>
    </div>
    
    
    <div class="card7" id="a">
        <div class="emul_head7">
          <img src="images/bari-2.jpg" alt="">
        </div>
        <section class="sect-7">
          <h2><span class="s"><i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span></h2>
            <hr>
            <h2>Viviana Gonzalez ,La Plata</h2>
          <p>ESPECTACULAR EL DPTO, LA VISTA, LA CONSTRUCCION, LA UBICACION, LA DECORACION, Y SOBRE TODO LA ATENCION, TANTO DE FLAVIO, SU DUEÑO, COMO FLOR, QUIEN NOS RECIBIO Y NOS ATENDIO ALLÍ. LO RECOMIENDO 100%, NO SE VAN A ARREPENTIR!! VOLVEREMOS APENAS PODAMOS......</p>
        </section>
    </div>


    <div class="card7" id="a">
        <div class="emul_head7">
          <img src="images/bari-2.jpg" alt="">
        </div>
        <section class="sect-7">
          <h2><span class="s"><i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span></h2>
            <h2>40 valoraciones</h2><hr>
            <h2>Josè Bermudez ,Cordoba</h2>
          <p>Hermoso hotel con todas las comodidades y una vista espectacular. Quiero agradecer a Flavio por su predisposición y empatía con todo el tema de la pandemia ya que nos reprogramó varias veces la estadía, un genio!! Muy recomendable hotel!!</p>
        </section>
    </div>
</div>
<hr>
<footer class="registerFooter">
  <div>
    <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
    <p> Hola. ¿Cómo podemos ayudarte?</p>
    <p>Iniciá sesión para recibir ayuda con las reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de usuario "Primeros pasos en TuLugar" y si todavía necesitas asesoramiento no dudes en contactarnos.</p>
  </div>
  <div>
    <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
    <p> La manera en la que las personas viajan, trabajan y viven se está transformando. Desde innovaciones de producto hasta actualizaciones del programa “Alquila donde quieras en Argentina con TuLugar”, pasando por las últimas tendencias de viaje, descubre cómo se está adaptando TuLugar al futuro de los alquileres.</p>
    <p>¿Queres saber mas? Seguinos en las redes.</p>
  </div>
  <div>
    <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
    <p>TuLugar Teléfono Argentina: <b>+54 11 55 55 55 55</b>.</p>
    <p>TuLugar correo: <b>alquileresTemporarios@tulugar.com</b>. <a class="a" href="https://mail.google.com/"><i class="fas fa-envelope-open iconos"></i></a></p>
    <p>Contactar por Twitter: Conectarse en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM (mensaje directo).</p>
    <p>Contactar por Facebook: buscar la cuenta TuLugar oficial y publicar un mensaje (https://www.facebook.com/TuLugar/)</p>
  </div>
  <div>
    <h4>Nuestras redes <i class="fa fa-heart iconos"></i></h4>
    <p> Seguinos en todas nuestras redes y enamorate de cada rincon del país.</p>
    <h4><a class="a" href="https://twitter.com/"><i class="fab fa-twitter iconos"></i></a></h4>
    <h4><a class="a" href="https://www.facebook.com/"><i class="fab fa-facebook-square iconos"></i></a></h4>
    <h4><a class="a" href="https://www.instagram.com/"><i class="fab fa-instagram iconos"></i></a></h4>
  </div>
</footer>

</body>





