<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT-CAR</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Estos links son para que sean responsive y tengamos todos la misma letra-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <!-- eso es lo que agregue anteriormente y lo volvi a poner para que funcione el footer-->
    <link href="/css/product-car.css" rel= stylesheet >
</head>
<body>
  <!--Te dejo comentado para no borrarte nada de tu codigo original, pero para intentar q quede lo mas parecido al resto de las pag. tengo q hacer un header como yo lo entienda y vos lo tenes como en parte dentro de un div y ahi no se como modificar y tmb de esta forma para volver a como estaba todo es mas facil.

  <div class="contenedor">
    <header class="main-header">
  <div class="n2-enc">
        <div class="n3-enc"><a href="#" class="hamburguer"><i class="fas fa-bars"></i></a></div>
        <div class="n3-enc-lg"></div><img src="images/TULUGAR.gif" alt="" width="100px" height="100px" class="logo">
        <!-- <img class="logo" src="images/llogo.png" alt=""> -->
        <!--
        <div class="n3-enc-gr">
        <div class="copyP"><h2 >Publicar</h2></div>
        <div class="copyI"><h2> <a href="#">Ingresá</a>  </h2></div>
        </div>
      </div>
      
</div>
</header>
-->
<header>
  <div class="n3-enc"><a href="#" class="hamburguer"><i class="fas fa-bars"></i></a></div>
  <div class="logo-login">
    <img src="/images/TULUGAR.gif" alt="Logo TuLugar" width="35%">
  </div>
  <div class="wrap">
    <button type="button" class="botonn-login"><a class="a" href="./">Publicar</a></button>
    <button type="button" class="botonn-login"><a class="a" href="./">Ingresá</a></button>
  </div>
</header>
<!-- hasta aca-->
<main>
  <section class="S-ingresado"> 
  <div class="txt0"><h2>Felicitaciones!! Estos son los servicios en tu carrito</h2></div>    
  
  
  <div class="c-tabla"></div>
  <div class="tabla">
  <div class="t-apellido">Apellido</div>
  <div class="r-apellido">González</div>
  <div class="t-nom">Nombre</div>
  <div class="r-nom">Jorge Josè Pedro </div>
  <div class="t-reserva">Lugar que  vas a reservar</div>
  <div class="r-reserva">Departamento vista al lago Bariloche</div>
  <div class="t-chin">Check-in</div>
  <div class="r-chin">Junio 20 de 2022</div>
  <div class="t-chout">Check-out</div>
  <div class="r-chout">Junio 30 de 2022</div>
  <div class="t-khuesped">Cantidad total de huespedes</div>
  <div class="r-khuesped"> 5 huespedes</div>
  <div class="t-kmayores">Huespedes mayores</div>
  <div class="r-kmayores"> 2 mayores</div>
  <div class="t-kmenores">Huespedes menores</div>
  <div class="r-kmenores">3 menores</div>
  <div class="t-precio-unit">Precio unitario</div>
  <div class="r-precio-unit"> $15.000</div>
  <div class="t-noches"> Noches</div>
  <div class="r-noches"> 10 noches</div>
  <div class="t-recargos">Recarg. varios (*)</div>
  <div class="r-recargos"> $50.000</div>
  <div class="t-total">Total </div>
  <div class="r-total">$200.000</div>
  <div class="t-precio-reserva">Monto de reserva(**)</div>
  <div class="r-precio-reserva">$50.000</div>
</div>
<h5 class="txt-">* Es el total con recargo por cantidad de huespedes y servicios adicionales contratados</h5>
<h5 class="txt-">* Es el monto mínimo a abonar para que la reserva quede en firme</h5>
  </section> <hr>
  <section class="s-ingresar">
  

  <div class="svc-adic"><h2>Podés acceder a servicios adicionales:</h2>

    <label class="b-contain">
      <span>Servicio de Habitación: $2.500 por dia</span>
      <input type="checkbox">
      <div class="b-input"></div>
    </label>
    <label class="b-contain">
      <span>Servicio de transporte desde y hasta el aeropuerto: $5.000</span>
      <input type="checkbox" checked>
      <div class="b-input"></div>
    </label>

    <label class="b-contain">
    <span>Servicio de guia turístico: $8.000</span>
    <input type="checkbox" checked>
    <div class="b-input"></div>
  </label>

  </div>
  <div class="c-botones">
  <div class="boton-agregar" type="submit" >Agregar al carrito</div>
  <div class="boton-quitar" type="reset" >Editar/Quitar del carrito</div>
</div>
</section>
<hr>
<hr>
<section class="s-confirmado">
  <div class="svc-adic"> <h2>Carrito completo? Accedé a cualquiera de estos medios para abonar la reserva</h2></div>
<div class="c-card0">
  <div class="card">
  <div class="pay-visa"> <a href="#"><img src="images/visa.svg" alt=""></a></div>
  <div class="cont-p"><p>Hasta 12 cuotas</p></div>
</div>
<div class="card">
  <div class="pay-visa"><a href="#"> <img src="images/maestro.svg" alt=""></a></div>
  <div class="cont-p"><p>Hasta 6 cuotas</p></div>
</div>
<div class="card">
  <div class="pay-visa"> 
    <a href="#">
      <img src="images/american-express.svg" alt=""></a></div>
  <div class="cont-p"><p>Hasta 12 cuotas</p></div>
</div>

</div>


<div class="c-card0">
  <div class="card">
  <div class="pay-visa"> <a href="#"><img src="images/bank.svg" alt=""></a></div>
  <div class="cont-p"><p>Se acredita al instante</p></div>
</div>
<div class="card">
  <div class="pay-visa"><a href="#"> <img src="images/apple-pay.svg" alt=""></a></div>
  <div class="cont-p"><p>Pagá desde tu dispositivo</p></div>
</div>
<div class="card">
  <div class="pay-visa"> 
    <a href="#">
      <img src="images/paypal.svg" alt=""></a></div>
  <div class="cont-p"><p>Pagà en forma segura</p></div>
</div>

</div>

</div>
<hr><hr><hr><hr><hr><hr>
<div class="svc-adic"> <h2>Querès consultar algo? Accedé a contactarte con el propietario y despejá tus dudas</h2></div>
<div class="c-card0">
  <div class="card">
  <div class="pay-visa"> <a href="#"><img src="images/telephone.svg" alt=""></a></div>
  <div class="cont-p"><p>Click para llamar</p></div>
</div>

<div class="card">
  <div class="pay-visa"><a href="#"> <img src="images/whatsapp.svg" alt=""></a></div>
  <div class="cont-p"><p>Envia un mensaje</p></div>
</div>
<div class="card">
  <div class="pay-visa"> 
    <a href="#">
      <img src="images/email.svg" alt=""></a></div>
  <div class="cont-p"><p>Escribi al propietario</p></div>
</div>

</div>
  </section>
</main>
<footer class="registerFooter">
  <div>
    <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
    <p>
      Hola. ¿Cómo podemos ayudarte? Iniciá sesión para recibir ayuda con las reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de usuario "Primeros pasos en TuLugar" y si todavía necesitas asesoramiento no dudes en contactarnos.
    </p>
  </div>
  <div>
    <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
    <p>
      La manera en la que las personas viajan, trabajan y viven se está transformando. Desde innovaciones de producto hasta actualizaciones del programa “Alquila donde quieras en Argentina con TuLugar”, pasando por las últimas tendencias de viaje, descubre cómo se está adaptando TuLugar al futuro de los alquileres. 
    </p>
  </div>
  <div>
    <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
    <p>
      TuLugar Teléfono Argentina: 	+54 11 55 55 55 55.
      TuLugar correo: alquileresTemporarios@tulugar.com.
      Otras maneras de contactarnos:
      Contactar por Twitter: esta es sin dudas LA MEJOR OPCIÓN. Conectarse en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM (mensaje directo).
      Contactar por Facebook: buscar la cuenta TuLugar oficial y publicar un mensaje (https://www.facebook.com/TuLugar/)

    </p>
  </div>
  <div>
    <h4>Nuestras redes</h4>
    <p>
      Seguinos en todas nuestras redes y enamorate de cada rincon del país.
    </p>
    <h4><i class="fab fa-twitter iconos"></i></h4>
    <h4><i class="fab fa-facebook-square iconos"></i></h4>
    <h4><i class="fab fa-instagram iconos"></i></h4>
  </div>

</footer>

</body>
</html>