<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENID@S A TU LUGAR</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel= stylesheet >
</head>
<body>
  <div class="contenedor">
  <header class="main-header">
<div class="n2-enc">
      <div class="n3-enc"><a href="#" class="hamburguer"><i class="fas fa-bars"></i></a></div>
      <div class="n3-enc-lg"></div><img src="images/TULUGAR.gif" alt="" width="100px" height="100px" class="logo">
      <!-- <img class="logo" src="images/llogo.png" alt=""> -->
      <div class="n3-enc-gr">
      <div class="copyP"><h2 >Publicar</h2></div>
      <div class="copyI"><h2 >Ingresar <a href="/productCar.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></h2></div>
      </div>
    </div>
    
  
    <div class="n2-img-cont">
        <div class="img1"><img src="images/img-5-1.jpg" alt=""></div>
        <div class="img-principal"><img src="images/pequeñas.jpg" alt=""></div>
        <div class="img2"><img src="images/img-2.JPG" alt=""></div>
    </div>
  
    <nav class="nav-bar2">
      <a href="#"class="nv2-enlace">Resumen</a>
      <a href="#"class="nv2-enlace">Ubicaciòn</a>
      <a href="#"class="nv2-enlace">Condiciones</a>
      <a href="#"class="nv2-enlace">Caracterización</a>
      <a href="#"class="nv2-enlace">Experiencias de huespedes</a>
    </nav>
    </header>
    <main>
      
      <div class="cont-descripcion-button-formulario">
        <div class="tabla-form-descripcion">
        <div class="sub-cont-formulario">
          <!-- <p class="p-precio-unitario">Precio Unitario: <p> -->
          
        <form action="/registro" method="get" >
          <p class="p-precio">$15.000 </p>
          <p class="p-sub-precio"> c/noche</p>
        <label for="nombre" class="lb">Apellido y Nombre </label>
        <input type="text" name="nombre" id="name" class="nom"><br>
        <label for="nombre" class="lb">Ingreso </label>
        <input type="date" name="ingreso" id="name" ><br>
        <label for="nombre" class="lb">Hasta </label>
        <input type="date" name="hasta" id="name"><br>
        <label for="huespedk" class="lb">Cantidad de huespedes </label>
        <input type="text" name="huespedesk" id="lb"><br>
        <label for="huespedMY" class="huespedMY"> Mayores </label>
        <input type="text" name="huespedesMY" id="huespedesMY"><br>
        <label for="huespedMn" class="lb">Menores </label>
        <input type="text" name="huespedesMn" id="huespedesMn"><br>
        <button tabindex="submit" class="button-send">AGREGAR AL CARRITO Y CONTACTARSE</button>
        <div class="button-contacto">
          <button tabindex="submit" class="button-c"> LLAMAR</button>
          <button tabindex="submit" class="button-c"> <i class="fab fa-whatsapp-square"></i></button>
          <button tabindex="submit" class="button-c"> <i class="fas fa-share-alt"></i></button>
          <button tabindex="submit" class="button-c"> <i class="far fa-heart"></i></i></button>
          </div> 
        </form>
        

    </div><div class="sub-descripcionYbutton" >
        <div><h1 class="h0g"> Alquiler Departamento Ollagua Bariloche</h1></div> <br>
        <div class="fstar">
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star">  40 valoraciones</i>
        </div>
        
         
          <div class="s-sub-cont-descripcion">
        <p class="descripcion">El departamento de 50 m2 de alquiler temporario turistico, se encuentra en SAN CARLOS DE BARILOCHE, en el edificio OLLAGUA el cual es de categoria, con dos modulos , dos ascensores, quincho (COSTO ADICIONAL) y parrilla, PISCINA CUBIERTA Y JACUZZI, Conexion WIFI, ademas tiene acceso al lago, 3er piso. para 4 personas sobre la playa con vista paradisiaca al lago nahuel huapi, baño completo con bañera, un dormitorio, cocina completa integrada al estar/comedor con una barra desayunador, excelente para 4 personas , baño, iluminacion increible, con vista y ruido del lago</p>
          </div>
          <div class="cont-button-read-contacto">
        <div class="s-sub-cont-button-read">
       <button class="readMore_btn" id="hideText_btn">Read More</button><br><br><br><br>
       </div>
       
       </div>
   
       </div>
       </div>
          
    
</div>

      <div class="contenedor-leer-mas">
        <!-- <h1>Leer màs </h1> -->
        <!-- <p class="p-descripcion">el departamento de 50 m2 de alquiler temporario turistico, se encuentra en SAN CARLOS DE BARILOCHE, en el edificio OLLAGUA el cual es de categoria, con dos modulos , dos ascensores, quincho (COSTO ADICIONAL) y parrilla, PISCINA CUBIERTA Y JACUZZI, Conexion WIFI, ademas tiene acceso al lago, 3er piso. para 4 personas sobre la playa con vista paradisiaca al lago nahuel huapi, baño completo con bañera, un dormitorio, cocina completa integrada al estar/comedor con una barra desayunador, excelente para 4 personas , baño, iluminacion increible, con vista y ruido del lago</p> -->
         <!-- <span class="hide" id="hideText"> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis labore unde eligendi, quasi ad nihil perferendis, perspiciatis provident sapiente doloribus rem illum quas facilis excepturi aliquam impedit! Quae, aperiam.</p>
          </span> -->
      </div>
  <div class="cont-grid-servicios">
    <div class="serv-item">
      <h2 class="desc-item"><img src="images/wifi.svg" alt="" id="svg"></i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item1"><img src="images/piscina.svg" alt="" id="svg"></i></h2>
    </div>
  
    <div class="serv-item">
      <h2 class="desc-item2"><img src="images/garage.svg" alt="" id="svg" ></i></h2>
    </div>
  </div>
    
    
  <div class="cont-grid-servicios2">
 
    <div class="serv-item">
      <h2 class="desc-item3"><img src="images/ropa-cama.svg" alt="" id="svg"><p class="txt">wifi</p></i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item4"><img src="/images/limp-hab.svg" alt="" id="svg">WIFI</i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item5"><img src="images/barbecue.svg" alt="" id="svg">WIFI</i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item6"><img src="images/lavado-ropa.svg" alt="" id="svg">WIFI</i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item7"><img src="images/tv-monitor.svg" alt="" id="svg">WIFI</i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item8"><img src="images/serv-habitacion.svg" alt="" id="svg">WIFI</i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item9"><img src="images/toallas.svg" alt="" id="svg">Ver màs</i></h2>
    </div>
    <div class="serv-item">
      <h2 class="desc-item10"><img src="images/dont-smoke.svg" alt="" id="svg">Ver màs</i></h2>
    </div>
    </div>
  
      <div class="txt-caracterizacion">
        <!-- <p>Departamento 3 ambientes Ollague Bariloche</p> -->
      </div>
    <!-- <div class="cont-gal-fotos-small">
       <div class="caja1">caja1 </div>
       <div class="caja2">caja2</div>
       <div class="caja3">caja3</div>
       <div class="caja4">caja4</div>
    </div> -->

   
    <button tabindex="submit" class="button-hide">AGREGAR AL CARRITO Y CONTACTARSE</button>
    <!-- <h1 class="h1g">Galeria de imagenes</h1> -->
     <div class="cont-gallery-geo"> 

    <div class="gallery-container">
        
        <div class="gallery-item">
          <img src="images/img-1.jpg" alt="" class="gallery-img">
          <h2 class="gallery-title"></h2>
        </div>
        <div class="gallery-item">
          <img src="images/img-2.jpg" alt="" class="gallery-img">
          <h2 class="gallery-title"></h2>
        </div>
        <div class="gallery-item">
          <img src="images/img-3.jpg" alt="" class="gallery-img">
          <h2 class="gallery-title"></h2>
        </div>
        <div class="gallery-item">
          <img src="images/612X408.jpg" alt="" class="gallery-img" id="img1200">
          <h2 class="gallery-title"></h2>
        </div>
        <div class="gallery-item">
          <img src="images/img-4.jpg" alt="" class="gallery-img">
          <h2 class="gallery-title">Ver mas</h2>
          </div>
        </div>
      <div class="cont-geo"><img src="images/geo.JPG" alt=""></div>
    </div>


      <div class="cont-condiciones">
        <div class="c-aloj-politicas">
      <div class="c-aloj">
        <h2 >Condiciones de Alojamiento</h2>
      
      <h3>Seña</h3>
      <h4>50% pago anticipado</h3>
      <h3>Estadía mínima</h3>
      <h4>Una noche</h4>
    </div>
      <div class="c-politicas">
        <h2>Polìticas de cancelaciòn</h2>
        <h3>Cancelaciòn estricta - Seña no reembolsable</h3>
        <h4>Ante la Cancelaciòn del Huesped, el Dueño no reintegrarà la seña(pago anticipado)</h4>
      </div>
      </div>
      <div class="c-normas-garantia">
      <div class="c-normas">
      <h2>Normas del Alojamiento</h2>
      <h3>No acepto grupos de jòvenes</h3>
      <h3>No acepto mascotas</h3>
    </div>
      <div class="c-garantia">
        <h2>Politica de Garantía</h2>
        <h3>Se solicitara un depòsito en garantìa al ingreso </h3>
        <h3>Se requerirá DNI o PASAPORTE </h3>
      </div>
      </div>
      </div>
     <div class="div-c-cont-valoraciones">
      <div class="cont-valoraciones">
        <div class="val">
          <span class="s"><i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star">  40 valoraciones</i></span>
          <div class="user"><img src="/images/user.svg" alt="" class="img">
          <div class="n-user">Rodrigo ,Bahia Blanca</div></div>
          <div class="txt-val"><p >Espectacular dpto y maravillosa atención de Flavio! Pasé año nuevo con amigas allí y realmente un sueño... La vista, el departamento precioso, las comodidades del edificio, la ubicación y la atención de Flavio y compañía. Volería mil veces, lo super recomiendo!</p></div><br>
        </div>

        <div class="val">
          <span class="s"><i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star">  </i></span>
          <div class="user"><img src="/images/user.svg" alt="" class="img">
          <div class="n-user">Viviana Gonzalez ,La Plata</div></div>
          <div class="txt-val"><p >ESPECTACULAR EL DPTO, LA VISTA, LA CONSTRUCCION, LA UBICACION, LA DECORACION, Y SOBRE TODO LA ATENCION, TANTO DE FLAVIO, SU DUEÑO, COMO FLOR, QUIEN NOS RECIBIO Y NOS ATENDIO ALLÍ. LO RECOMIENDO 100%, NO SE VAN A ARREPENTIR!! VOLVEREMOS APENAS PODAMOS......</p></div>
        </div>

        <div class="val">
          <span class="s"><i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star">  </i></span>
          <div class="user"><img src="/images/user.svg" alt="" class="img">
          <div class="n-user">Josè Bermudez ,Cordoba</div></div>
          <div class="txt-val"><p >Hermoso hotel con todas las comodidades y una vista espectacular. Quiero agradecer a Flavio por su predisposición y empatía con todo el tema de la pandemia ya que nos reprogramó varias veces la estadía, un genio!! Muy recomendable hotel!!</p></div>
        </div>
        

      </div>
      <br>
   
      
 </main> 
  
</div><div class="cont-pre-footer">
        <a href="#"> VER MAS ALOJAMIENTOS</a>
      </div></div>

      <footer class="registerFooter">
        <div>
          <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
          <p>
            Hola. ¿Cómo podemos ayudarte? Iniciá sesión para recibir ayuda con las reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de usuario "Primeros pasos en TuLugar" y si todavía necesitas asesoramiento no dudes en contactarnos.
          </p>
        </div>
        <div>
          <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
          <p>
            La manera en la que las personas viajan, trabajan y viven se está transformando. Desde innovaciones de producto hasta actualizaciones del programa “Alquila donde quieras en Argentina con TuLugar”, pasando por las últimas tendencias de viaje, descubre cómo se está adaptando TuLugar al futuro de los alquileres. 
          </p>
        </div>
        <div>
          <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
          <p>
            TuLugar Teléfono Argentina: 	+54 11 55 55 55 55.
            TuLugar correo: alquileresTemporarios@tulugar.com.
            Otras maneras de contactarnos:
            Contactar por Twitter: esta es sin dudas LA MEJOR OPCIÓN. Conectarse en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM (mensaje directo).
            Contactar por Facebook: buscar la cuenta TuLugar oficial y publicar un mensaje (https://www.facebook.com/TuLugar/)

          </p>
        </div>
        <div>
          <h4>Nuestras redes</h4>
          <p>
            Seguinos en todas nuestras redes y enamorate de cada rincon del país.
          </p>
          <h4><i class="fab fa-twitter iconos"></i></h4>
          <h4><i class="fab fa-facebook-square iconos"></i></h4>
          <h4><i class="fab fa-instagram iconos"></i></h4>
        </div>
    
      </footer>
</body>
</html>