<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/product-detail.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="nav-bar-arriba">
        <a href="#" class="hamburguer"><i class="fas fa-bars"></i></a>
        <img class="logo" src="images/llogo.png" alt="">
        <span class="copy-div">
        <h2 class="copyP">Publicar</h2>
        <h2 class="copyI">Ingresar</h2>
        </span>
      </nav>

      <div class="img-cont">
          <div class="img1"><img src="images/300.jpg" alt=""></div>
          <div class="img-principal"><img src="/images/pequeñas.jpg" alt=""></div>
          <div class="img2"><img src="/images/300.jpg" alt=""></div>
      </div>
    
      <nav class="nav-bar2">
        <a href="#"class="nv2-enlace">Resumen</a>
        <a href="#"class="nv2-enlace">ubicaciòn</a>
        <a href="#"class="nv2-enlace">Condiciones</a>
        <a href="#"class="nv2-enlace">Caracterización</a>
        <a href="#"class="nv2-enlace">Experiencias de huespedes</a>
      </nav>
      </header>
      <main>
      <h1> Alquiler Departamento Ollagua Bariloche</h1> <br>
      <div class="fstar">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star">  40 valoraciones</i>
      </div>
      <div class="cont-descripcion-button-formulario">
         <div class="sub-descripcionYbutton" >
          <div class="s-sub-cont-descripcion">
        <p class="descripcion">El departamento de 50 m2 de alquiler temporario turistico, se encuentra en SAN CARLOS DE BARILOCHE, en el edificio OLLAGUA el cual es de categoria, con dos modulos , dos ascensores, quincho (COSTO ADICIONAL) y parrilla, PISCINA CUBIERTA Y JACUZZI, Conexion WIFI, ademas tiene acceso al lago, 3er piso. para 4 personas sobre la playa con vista paradisiaca al lago nahuel huapi, baño completo con bañera, un dormitorio, cocina completa integrada al estar/comedor con una barra desayunador, excelente para 4 personas , baño, iluminacion increible, con vista y ruido del lago</p>
          </div>
          <div class="cont-button-read-contacto">
        <div class="s-sub-cont-button-read">
       <button class="readMore_btn" id="hideText_btn">Read More</button><br><br><br><br>
       </div>
        <div class="button-contacto">
       <button tabindex="submit" class="button-c"> LLAMAR</button>
       <button tabindex="submit" class="button-c"> <i class="fab fa-whatsapp-square"></i></button>
       <button tabindex="submit" class="button-c"> <i class="fas fa-share-alt"></i></button>
       <button tabindex="submit" class="button-c"> <i class="far fa-heart"></i></i></button>
       </div> 
       </div>
      </form>
       </div>
          <div class="sub-cont-formulario">
          <!-- <p class="p-precio-unitario">Precio Unitario: <p> -->
            <p class="p-precio">$15.000 </p>
          <p class="p-sub-precio"> c/noche</p>
        <form action="/registro" method="get" >
        <label for="nombre" class="lb">Apellido y Nombre </label>
        <input type="text" name="nombre" id="name" class="nom"><br>
        <label for="nombre" class="lb">Ingreso </label>
        <input type="date" name="ingreso" id="name" ><br>
        <label for="nombre" class="lb">Hasta </label>
        <input type="date" name="hasta" id="name"><br>
        <label for="huespedk" class="lb">Cantidad de huespedes </label>
        <input type="text" name="huespedesk" id="lb"><br>
        <label for="huespedMY" class="huespedMY"> Mayores </label>
        <input type="text" name="huespedesMY" id="huespedesMY"><br>
        <label for="huespedMn" class="lb">Menores </label>
        <input type="text" name="huespedesMn" id="huespedesMn"><br>
        <button tabindex="submit" class="button-send">AGREGAR AL CARRITO Y CONTACTARSE</button>
        </form>

        </div>
    
</div>

      <div class="contenedor-leer-mas">
        <!-- <h1>Leer màs </h1> -->
        <!-- <p class="p-descripcion">el departamento de 50 m2 de alquiler temporario turistico, se encuentra en SAN CARLOS DE BARILOCHE, en el edificio OLLAGUA el cual es de categoria, con dos modulos , dos ascensores, quincho (COSTO ADICIONAL) y parrilla, PISCINA CUBIERTA Y JACUZZI, Conexion WIFI, ademas tiene acceso al lago, 3er piso. para 4 personas sobre la playa con vista paradisiaca al lago nahuel huapi, baño completo con bañera, un dormitorio, cocina completa integrada al estar/comedor con una barra desayunador, excelente para 4 personas , baño, iluminacion increible, con vista y ruido del lago</p> -->
         <!-- <span class="hide" id="hideText"> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis labore unde eligendi, quasi ad nihil perferendis, perspiciatis provident sapiente doloribus rem illum quas facilis excepturi aliquam impedit! Quae, aperiam.</p>
          </span> -->
      </div>
      <div class="txt-caracterizacion">
        <p>Departamento 3 ambientes Ollague Bariloche</p>
      </div>
    <div class="fotos-small-grid">
       <div class="caja1"><img src="images/408X300.jpg" alt=""></div>
       <div class="caja1"><img src="images/408X300.jpg" alt=""></div>
       <div class="caja1"><img src="images/408X300.jpg" alt=""></div>
       <div class="caja1"><img src="images/408X300.jpg" alt=""></div>
    </div>
    </main>
    
  </body>
  <script src="js/script.js"></script
</html>
