<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0bc48b6d6d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <title>TuLugar</title>
  </head>
  <body class="register">
    <header class="registerHeader">
      <div class="topHeaderRegister">
        <!--LOGO-->
        <div class="logoHeaderRegister">
          <img
            src="images/TULUGAR.gif"
            alt="logo de la pagina con movimiento"
            width="40%"
          />
        </div>
        <!--texto de HEADER-->
        <div class="cajaTituloHeaderRegister">
          <p class="tituloHeaderRegister desaparecerEnMediano">
            Registrate con nosotros y encontra TULUGAR!
            <p class="tituloHeaderRegister apareceMedianoRegister">TuLugar!</p>
          </p> 
        </div>
        <!--boton de HEADER-->
        <div>
          <button type="button" class="butoonHEaderRegister">
            <a href="/"> VOLVER! </a>
          </button>
        </div>
      </div>
    </header>
    <!--------------------------------------------------------------------termina el header-->
    <main class="registerMain">
      <div class="divPrincipalMainRegister">
        <form>
          <div class="primerDivCuestionarioRegister">
            <div class="primerCuestionarioRegister">
              <label for="e-mail"> Ingresa tu E-mail</label>
              <input
                type="e-mail"
                name="e-mail"
                placeholder="alguien@hotmail.com"
              />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="tel"> Ingresa tu numero de telefono</label>
              <input type="tel" name="tel" placeholder="+ 54 9 ..........." />
            </div>
          </div>
          <div class="segundoCuestionarioRegister">
            <label for="nombre de usuario"> ELEGI UN NOMBRE DE USUARIO:</label>
            <input
              type="text"
              id="nombre de usuario"
              name="nombre de usuario"
              placeholder="Pepito busca donde hospedarse"
            />
          </div>
          <div class="segundoCuestionarioRegister">
            <label for="Paswword"> DANOS UNA CONTRASEÑA:</label>
            <input
              type="paswword"
              name="paswword"
              id="paswword"
              placeholder="que no sea 1234"
            />
          </div>
          <button class="submitRegister" type="submit">
            <a href="./"></a>Ingresa a TU LUGAR!
          </button>
        </form>
      </div>
    </main>
    <!---------------------------------------------------------------------termina el cuerpo principal-->
    <footer class="registerFooter">
      <div>
        <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
        <p>
          Hola. ¿Cómo podemos ayudarte? Iniciá sesión para recibir ayuda con las
          reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de
          usuario "Primeros pasos en TuLugar" y si todavía necesitas
          asesoramiento no dudes en contactarnos.
        </p>
      </div>
      <div>
        <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
        <p>
          La manera en la que las personas viajan, trabajan y viven se está
          transformando. Desde innovaciones de producto hasta actualizaciones
          del programa “Alquila donde quieras en Argentina con TuLugar”, pasando
          por las últimas tendencias de viaje, descubre cómo se está adaptando
          TuLugar al futuro de los alquileres.
        </p>
      </div>
      <div>
        <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
        <p>
          TuLugar Teléfono Argentina: +54 11 55 55 55 55. TuLugar correo:
          alquileresTemporarios@tulugar.com. Otras maneras de contactarnos:
          Contactar por Twitter: esta es sin dudas LA MEJOR OPCIÓN. Conectarse
          en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM
          (mensaje directo). Contactar por Facebook: buscar la cuenta TuLugar
          oficial y publicar un mensaje (https://www.facebook.com/TuLugar/)
        </p>
      </div>
      <div>
        <h4>Nuestras redes</h4>
        <p>
          Seguinos en todas nuestras redes y enamorate de cada rincon del país.
        </p>
        <h4><i class="fab fa-twitter iconos"></i></h4>
        <h4><i class="fab fa-facebook-square iconos"></i></h4>
        <h4><i class="fab fa-instagram iconos"></i></h4>
      </div>
    </footer>
  </body>
</html>
