<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css" />
    <script
      src="https://kit.fontawesome.com/0bc48b6d6d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>TuLugar</title>
  </head>
  <body class="register">
    <header class="registerHeader">
      <div class="topHeaderRegister">
        <!--LOGO-->
        <div class="logoHeaderRegister">
          <img
            src="images/TULUGAR.gif"
            alt="logo de la pagina con movimiento"
            width="50%"
          />
        </div>
        <!--texto de HEADER-->
        <div class="cajaTituloHeaderRegister">
          <p class="tituloHeaderRegister">
            Registrate con nosotros y encontra TULUGAR!
          </p>
        </div>
        <!--boton de HEADER-->
        <div class="butoonHEaderRegister">
          <button type="button"><a href="/"> VOLVER! </a></button>
        </div>
      </div>
    </header>
    <!--------------------------------------------------------------------termina el header-->
    <main class="registerMain">
      <div class="divPrincipalMainRegister">
        <form>
          <div class="primerDivCuestionarioRegister">
            <div class="primerCuestionarioRegister">
              <label for="e-mail"> Ingresa tu E-mail</label>
              <input
                type="e-mail"
                name="e-mail"
                placeholder="alguien@hotmail.com"
              />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="tel"> Ingresa tu numero de telefono</label>
              <input type="tel" name="tel" placeholder="+ 54 9 ..........." />
            </div>
          </div>
          <div class="segundoCuestionarioRegister">
            <label for="nombre de usuario"> ELEGI UN NOMBRE DE USUARIO:</label>
            <input
              type="text"
              id="nombre de usuario"
              name="nombre de usuario"
              placeholder="Pepito busca donde hospedarse"
            />
          </div>
          <div class="segundoCuestionarioRegister">
            <label for="Paswword"> DANOS UNA CONTRASEÑA:</label>
            <input
              type="paswword"
              name="paswword"
              id="paswword"
              placeholder="que no sea 1234"
            />
          </div>
          <button type="submit"><a href="./"></a>Ingresa a TU LUGAR!</button>
        </form>
      </div>
    </main>
    <!---------------------------------------------------------------------termina el cuerpo principal-->
    <footer class="registerFooter">
      <div>
        <h4>Ayuda</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad a maxime,
          atque magnam amet ab eos impedit velit in sed magni ea illo rerum
          expedita nobis nisi voluptate alias officiis.
        </p>
      </div>
      <div>
        <h4>Sobre nosotros</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad a maxime,
          atque magnam amet ab eos impedit velit in sed magni ea illo rerum
          expedita nobis nisi voluptate alias officiis.
        </p>
      </div>
      <div>
        <h4>contacto</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad a maxime,
          atque magnam amet ab eos impedit velit in sed magni ea illo rerum
          expedita nobis nisi voluptate alias officiis.
        </p>
      </div>
      <div>
        <h4>Nuestras redes</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad a maxime,
          atque magnam amet ab eos impedit velit in sed magni ea illo rerum
          expedita nobis nisi voluptate alias officiis.
        </p>
      </div>
    </footer>
  </body>
</html>
