colores{
  background-color: #eeeeee;
  background-color: #d8d2cb;
  background-color: #9145b6;
  background-color: #398AB9;
  background-color: #1C658C;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body.register {
  background-color: #eeeeee;
  font-family: "Playfair Display", "Raleway", sans-serif;
}

div.cajaTituloHeaderRegister {
  margin: 0% 2%;
}

div.cajaTituloHeaderRegister p {
  text-align: center;
  color: #7c6850;
  text-shadow: 0 0 25px #ddd;
  text-transform: unset;
  font-size: 1.5rem;
}

div.cajaTituloHeaderRegister p.apareceMedianoRegister {
  display: none;
}

main.registerMain {
  width: 43vw;
  height: auto;
  background-color: white;
  margin: 3vh auto;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
  border: solid 4px #d8d2cb;
  border-radius: 5%;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
}

main.registerMain div.divPrincipalMainRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

div.primerDivCuestionarioRegister {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: auto;
}

div.primerCuestionarioRegister {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  width: 95%;
}

div.primerCuestionarioRegister {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div.primerCuestionarioRegister label,
div.primerCuestionarioRegister input {
  width: 100%;
  height: 5vh;
}

div.primerCuestionarioRegister input {
  padding-left: 3%;
}

div.primerCuestionarioRegister label {
  color: #1C658C;
  font-size: 1.5rem;
}

.submitRegisterL {
  background-color: #8d60a1;
  color: black;
  border: 3px solid #eeeeee;
  font-size: medium;
  font-family: "Playfair Display", "Raleway", sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin:auto;
  width: auto;
  padding: 1% 3%;
}

.submitRegisterL:hover {
  background-color: #398AB9;
  width: 100%;
  margin: auto;
}

h4.letraChec, h4 label{
  color: #4f4b50;
}

.a{
  text-decoration: none;
  color: whitesmoke
}

div.ingresaConRedesRegister{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}

div.ingresaConRedesRegister button{
  border: solid 3px #eeeeee;
  margin: auto;
  height: auto;
  padding: 0% 20%;
  padding-top: 2%;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #eeeeee;
  font-size: medium;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

div.ingresaConRedesRegister button:hover{
  background-color: #d8d2cb;
}

div.ingresaConRedesRegister button p {
  color:#1C658C;
  font-weight: bolder;
}

.br{
  margin-bottom: 2%;
}

@media (min-width: 576px) and (max-width: 768px) {
  header div.topHeaderRegisterP {
    flex-wrap: nowrap;
  }
  header div.logoHeaderRegister,
  header div.cajaTituloHeaderRegister,
  header div.butoonHEaderRegister {
    width: 20vw;
    margin: 0;
    padding: 0%;
    height: fit-content;
  }
  header div.logoHeaderRegister {
    width: 150px;
  }
  header div.logoHeaderRegister img {
    width: 100%;
  }
  div p.desaparecerEnMediano {
    display: none;
  }
  div.cajaTituloHeaderRegister p.apareceMedianoRegister {
    display: block;
  }
  main.registerMain {
    width: 95vw;
  }
  div.primerCuestionarioRegister label {
    font-size: 1rem;
  }
  div.primerDivCuestionarioRegister {
    width: 90%;
  }
  main div form button {
    width: 40%;
    border:red solid 2px
  }
  .submitRegisterL{
    width: auto;
  }
}

@media (min-width: 360px) and (max-width: 576px) {
  header div.topHeaderRegister {
    flex-wrap: wrap;
  }
  header div.logoHeaderRegister{
    width: 60%;
    margin: 1% 35%;
    height: fit-content;
    align-self: center;
  }
  header div.logoHeaderRegister {
    width: 150px;
  }
  header div.logoHeaderRegister img {
    box-sizing: border-box;
  }
  div p.desaparecerEnMediano {
    display: none;
  }
  div.cajaTituloHeaderRegister p.apareceMedianoRegister {
    display: block;
  }
  main.registerMain {
    width: 95vw;
  }
  div.primerCuestionarioRegister label {
    font-size: 1rem;
  }
  main.registerMain div.divPrincipalMainRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
  }
  div.primerDivCuestionarioRegister {
    width: 90%;
  }
  main div form button {
    width: 40%;
  }
  .submitRegisterL{
    width: auto;
  }
}