colores{
  background-color: #eeeeee;
  background-color: #d8d2cb;
  background-color: #9145b6;
  background-color: #398AB9;
  background-color: #1C658C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-image: url("../images/full-header-bg.webp"); 
  display: flex;
  background-position: center;
  justify-content: space-between;
  height: 25vh;
  align-items: center;
}

.logo{
  margin-left: 25px;
}

.textoInicio{
  margin-top: 7%;
  margin-left: -15%;
}
.text {
  font-family: 'Playfair Display', 'Raleway', sans-serif;
  text-transform: capitalize;
  font-size: 42px;
  color: transparent;
  text-shadow: 0 8px 9px #d8d2cb, 0px -2px 1px #eeeeee;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  background-image: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}
.animacion-shadow {
  color: #ffffff;
  font: normal 30px 'Playfair Display', 'Raleway', sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2
 }
  /*Animación para rotar las sombras*/
@keyframes move {
  0% { text-shadow:
  4px -4px 0 #9145b6,
  3px -3px 0 #9145b6,
  2px -2px 0 #9145b6,
  1px -1px 0 #9145b6,
  -4px 4px 0 #d8d2cb,
  -3px 3px 0 #d8d2cb,
  -2px 2px 0 #d8d2cb,
  -1px 1px 0 #d8d2cb;
}
  25% { text-shadow:
  -4px -4px 0 #1C658C,
  -3px -3px 0 #1C658C,
  -2px -2px 0 #1C658C,
  -1px -1px 0 #1C658C,
  4px 4px 0 #9145b6,
  3px 3px 0 #9145b6,
  2px 2px 0 #9145b6,
  1px 1px 0 #9145b6;
}
  50% { text-shadow:
  -4px 4px 0 #9145b6,
  -3px 3px 0 #9145b6,
  -2px 2px 0 #9145b6,
  -1px 1px 0 #9145b6,
  4px -4px 0 #1C658C,
  3px -3px 0 #1C658C,
  2px -2px 0 #1C658C,
  1px -1px 0 #1C658C;
}
  75% { text-shadow:
  4px 4px 0 #1C658C,
  3px 3px 0 #1C658C,
  2px 2px 0 #1C658C,
  1px 1px 0 #1C658C,
  -4px -4px 0 #9145b6,
  -3px -3px 0 #9145b6,
  -2px -2px 0 #9145b6,
  -1px -1px 0 #9145b6;
}
  100% { text-shadow:
  4px -4px 0 #9145b6,
  3px -3px 0 #9145b6,
  2px -2px 0 #9145b6,
  1px -1px 0 #9145b6,
  -4px 4px 0 #d8d2cb,
  -3px 3px 0 #d8d2cb,
  -2px 2px 0 #d8d2cb,
  -1px 1px 0 #d8d2cb;
}
}
.boton-volverInicio{
  height: 80px;
  width: 140px;
  background-color: #398AB9;
  color:black;
  border: 3px solid #eeeeee;
  transition-duration: 0.4s;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  font-family: 'Playfair Display', 'Raleway', sans-serif;
  margin-right: 25px;
}

.boton-volverInicio:hover {
  background-color: #9145b6; 
  color: white;
  width: 160px;
  font-size: larger;
}

label{
  font-family: 'Playfair Display', 'Raleway', sans-serif;
  font-size: 30px;
}

h3{
  font-family: 'Playfair Display', 'Raleway', sans-serif;
  font-size: 50px;
  color: #9145b6;
}

.formulario-login{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.caja1{
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  background-color:#1C658C;
  height: auto;
}
.caja2{
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #398AB9;
  height: auto;
}
.caja3{
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #eeeeee;
  height: auto;
}

.input-login{
width: 32%;
font-size: 30px;
border-radius: 2px;
border: 2px inset #9145b6;
text-align: center;
}

.a{
  text-decoration: none;
  color: black;
  font-weight: lighter;
  outline: none;
}

.boton-login {
  height: 80px;
  width: 120px;
  margin-top: 30px; 
  background-color: #398AB9;
  color:black;
  border: 3px solid #eeeeee;
  transition-duration: 0.4s;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  font-family: 'Playfair Display', 'Raleway', sans-serif;
}

.boton-login:hover {
  background-color: #9145b6; 
  color: white;
  width: 150px;
  font-size: larger;
}
footer{
  background-color: #d8d2cb;
  height: auto;
}
