* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "roboto";
  text-align: center;

}
.logo{
  width: 150px;
  box-sizing: border-box;
  margin-left: 50px;
  height: 98%;
}

.main-header{
  border:dotted red 3px;
  padding: 3px;
}
.nav-bar-arriba{
max-width: 1200px;
margin:left;
display: flex;
justify-content: space-between;
position: relative;
align-items: flex-start;
height: 6vh;border:dotted red 3px;
}


.copy-div{
  font-weight: 40;
  text-align: right;
  margin-right: 16px;
  display: flex;
  font-size: 12px;
  padding: 16px 10px 16px 0;
  display: none;
}
.copyP{
  margin-right: 15px;
}


.img-cont {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-gap: 15px;
  max-width: 1200px;
 justify-content:stretch;
 background-position: center;
 margin-bottom: 10px;
 box-sizing: border-box;

  /* /*Cosas nuevas agregadas.
  display: flex;
  justify-content: space-between;
  background-color:salmon;
  /*Fin cosas nuevas agregadas*/

  /* max-width: 1300px;
  padding: 0px;
  border:dotted red 3px;box-sizing: border-box;
  object-fit: cover; */
} 

.img1 {
    
  display: none;
  grid-column-start: 1; 
  grid-column-end: 1; 
  grid-row-start: 1; 
  grid-row-end: 3;
  text-align: justify;

 
    }
.img2{
  display: none;
}


.img-principal{
  grid-column-start: 2; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 3;
  text-align: left;
  width: 860px;
  max-height: 408px;
  box-sizing: border-box;
  padding: 0 20px 0 0;

  overflow-y: auto;
  overflow-x: auto;
}

.hamburguer{
color: rgb(27, 111, 167);
display:block;
max-width: 100px;
padding: 15px 0;
border-radius: 8px;
text-align: center;
font-size: 25px;
margin: auto;
position: absolute;
left: 10px;

height: 98%;
box-sizing: border-box;

}
.nav-bar2{
  margin:5px;
  display: flex;
  max-width: 1200px;
  box-sizing: border-box;
  justify-content: start;
}

.nv2-enlace{
  background-color: salmon;
  color: white;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  max-width: 25%;
}
.nv2-enlace:hover{
  background-color: rgb(218, 228, 199);
}



.cont-descripcion-button-formulario{
  
  max-width: 1200px;
  display: flex;
  height: 424px;
} 
.cont-button-read-contacto{
  display: flex;
  justify-content: space-around;
 margin-bottom: 40px;

}
.s-sub-cont-button-read{
  display: flex;
  margin-top: 1%;
  margin-right: 40px;
}


.readMore_btn{
  margin-top: 30%;
  padding: 20px;
  align-items: center;
}
.button-contacto{
  display: flex;
  height: 80px;
  width: 80%;
  justify-content: space-around;
}
.button-c{
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 25px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
.sub-descripcionYbutton{
  text-align: left;
}
.s-sub-cont-descripcion{
  display: inline-block;
   max-width: 100%;

}
.descripcion{
 
  height: 5rem;
  display: inline-block;
  text-align: justify;
  
}

.s-sub-cont-button-read{
  margin-left: 8%;
}
.sub-cont-formulario{
  background-color:red;
}





h1{
  text-align: left;
}
.fstar{
  text-align: left;
  

}
.sub-cont-formulario{
  /* display: grid;
  grid-template-rows: 200px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  text-align: justify;   */
  border-radius: 50px 0 50px 0 / 100px 0 100px 0;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px;
}
.formulario{
  grid-column-start: 9; 
  grid-column-end:15; 
  grid-row-start: 1; 
  grid-row-end: 3;
background-color:salmon;}

/* .p-precio-unitario{
display: inline-block;
font-size: 20px;
} */
.p-prueba{
  grid-column-start:2; 
  grid-column-end:18; 
  grid-row-start: 2; 
  grid-row-end: 2;
  display: flex;
  max-width: 50%;
  padding: 20px;
}
.lb{
  display: inline-block;
  justify-content: space-around;
  color: blue;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
}
.nom{
  background-color: rgb(175, 245, 154);
  width: 80%;
  padding: 4px;
  margin-left: 20px;
}

.huespedesk{
  display: inline-block;
  justify-content: space-around;
  color: blue;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
}
.huespedMY{
  display: inline-block;
  justify-content: space-around;
  color: blue;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
}
.button-send{
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 1%;
}



.cont-descripcion-button-formulario p {
 font-size: 1.2em;
 padding: 0em 2em;
 color: rgba(0, 0, 0, .5);
 margin: 5px
}
.p-precio{
  display: block;
  font-size: 90px;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
}
.p-sub-precio{
  display: block;
  text-align: center;
 
}
.readMore_btn {
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 1%;

}
.cont-button-read{
  display: flex;
}
.readMore_btn:hover {
  box-shadow: none;
  background-color: black;
  color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}
.hide{
  display: none;
}
.show{
  display: block;
}

.txt-caracterizacion{
  display: none;
  background-color: salmon;
  font-size: 24px;
  margin-top: 10%;
  margin-bottom: 15%;
  width: 1000px;
  margin: left;
}
.txt-caracterizacion p{
  color: blue;
  padding: 15px 40px;
  margin:1% 4% 1% 4%;
}
.fotos-small-grid{

  /* display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 15fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 1200px; */
  display: flex;
  flex-wrap: wrap;
 justify-content:space-around;
 background-position: center;
 margin-bottom: 10px;
 box-sizing: border-box;
 width: 1200px;
}
.caja1{
  width: 280px;
  height:150px;
  padding: 3px;
  margin: 0 3px;
  overflow: hidden;
}
@media(min-width:460px){
  .copy-div{
    display: flex;
  }
  .cont-formulario{     
    display: none;
  }
  .txt-caracterizacion{
    display: none;
  
}



@media(min-width:768px){
.img1  {
    display: none;
  }
  
  /* .cont-formulario{
    position: relative;
  right: 600px;
  bottom: 470px;
  } */
  .p-descripcion{
    position: relative;
    top:470px;
    left:600px;
  }

  .txt-caracterizacion{
    display: flex;
}
.sub-cont-formulario{
  
  width:3000px;
 }

}
@media(max-width:768px){
     .cont-descripcion-button-formulario{
   
    flex-direction: column;
    margin-top: 40px;
     }
     .cont-button-read-contacto{
       flex-direction: column;
     }
    
    }
}

@media(min-width:1200px){
  /* .cont-formulario{
    position: relative;
  right: 5%;
  bottom: 200px;
  max-width: 1300px;
  } */
  
  
  .img1{
    display: block;

  }
  .img2 {
    display: none;
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
    text-align: left;
    padding: 1px;
    margin-left: 20px;
        }
     .sub-cont-formulario{
      position: relative;
      right: 0.04%;
      bottom: 200px;
      width:2000px;
     }
     .txt-caracterizacion{
       margin-top: 0;
     }
    }
