* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.adm{
  color: #1c658c;
  text-decoration: none;

}
.adm-button{
  max-width:9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1C658C;
  border-radius: 1rem;
  flex: 0 0 120px;
  height: 40px;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #eeeeee;
  transition: all 150ms linear;
}
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-header {
  text-align: center;
  padding: 10px 0px;
}

.subc-1,
.subc-2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 60vw;
}

.C-4 {
  width: 100%;
  max-width: 60vw;
  background: white;
  border-radius: 15px;
  border: solid gainsboro;
  padding: 25px;
}

.C-6 {
  width: 100%;
  max-width: 60vw;
  background: white;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  border: solid gainsboro;
  flex-direction: column;
  align-items: flex-start;
}

.emul_head6 {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 16%;
  margin: auto;
}

.emul_head6 img {
  width: 100%;
  height: 100%;
}

.card6 {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  align-items: center;
}

.sect-6 {
  margin:auto;
  text-align: center;
}

.card7 {
  width: 100%;
  margin-top: 2%;
}

.card7-caja1 {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 5px;
}

.cont-fecha-editar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5px;
}

.C-4 h4 {
  font-weight: normal;
  margin: 3px 3px;
  padding: 0 3px;
}

.card {
  width: 15%;
  overflow: hidden;
  margin: 3px;
  padding: 3px;
  background: white;
  border-radius: 15px;
}

.pay-visa {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
  transition: all 0.9s ease-in-out;
}

.pay-visa img {
  width: 100%;
  height: 50px;
  z-index: 5;
}

.cont-p {
  padding: 3px;
  overflow: hidden;
  text-align: center;
}

.cont-p p {
  margin: .1em 0;
}

.c-card0 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60vw;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  border: solid gainsboro;
  padding: 25px;
}

.pay-visa:hover {
  transform: scale(1.2);
}

.pay-visa-:hover {
  transform: scale(1.2);
}

button.submitRegister {
  background-color: #d8d2cb;
  color: white;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 19.5%;
  width: 60vw;
  height: 7vh;
  border-radius: 15px;
  border: solid gainsboro;
}

button.submitRegister:hover {
  background-color: #3f8961;
  color: white;
}

.a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  outline: none;
}

footer div h4:hover {
  font-size: 10px;
}

.mensajeReservaTitulo{
  background-color: #eeeeee; 
  color: #1C658C;
  text-align: center;
}

.mensajeReserva{
  background-color: #1C658C; 
  color: #eeeeee;
  text-align: center;
}

@media (min-width: 360px) and (max-width: 900px) {
  .subc-1,
  .subc-2 {
    max-width: 90vw;
  }
  .C-4, 
  .C-6 {
    max-width: 90vw;
  }
  
  .subc-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card6 {
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    width: 27%;
    margin: 2px;
    padding: 2px;
  }
  .c-card0 {
    max-width: 90vw;
  }
}