* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Raleway", sans-serif;
  background-color: #d8d2cb;
}

header.registerHeader {
  width: 100vw;
  background-image: url("../images/index-header-mountain.png");
  background-position: top;
  height: auto;
}

header div.topHeaderRegister {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1vh 5vw;
}

header div.logoHeaderRegister {
  height: fit-content;
  width: 150px;
}

header div.logoHeaderRegister img {
  width: 100%;
  box-shadow: 0 0 15px #ddd;
  border-radius: 12px;
}
/*============================================================termina el header-------*/
main.mainproducDetail{
  display: flex;
  width: 90vw;
  margin: auto;
  background-color: #eeeeee;
  flex-wrap: wrap;
}

div.tituloPD{
  margin-top: 3%;
  padding-left: 15%;
  /*CAJA DE TITULO*/
}
div.tituloPD h2{
  text-decoration: underline;
  font-weight: bolder;
  font-family: "Playfair Display", "Raleway", sans-serif;
}
div.tituloPD i{
  color: rgb(226, 2, 2);
}
/*--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-CARRUSEl-=-=-=-=-=-=-=-=-=-=-=-*/
section.carrouselPD{
  width: 60vw;
  margin: 3vh auto;
  height: 60vh;
 
  border: solid 4-x red;
  box-sizing: content-box;

}
section.carrouselPD div img{
  height: 60vh;
}

/*--=-=-=-=-=-=-=-=-=FINNNN-=-=-=-=-=-=-CARRUSEl-=-=-=-=-=-=-=-=-=-=-=-*/
section.principalPD{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
}

/* -----------------------------------ARRANCA CAJA DEBAJO CARRUSEL------------------ */
    
section.cajaDetallesDelProducto {
  border-radius: 5%;
  padding: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  text-align: center;
  width: 45%;
  height: auto;
  color:black;
  background-color: #dddcda;
  border:double 5px #1c658c;
  /*Tambien caja de informacion de abajo del carrusel*/
}
section.cajaDetallesDelProducto h2{
  color:#1c658c;
font-weight: bold;
font-family: "Playfair Display", "Raleway", sans-serif;
/*titulo de la caja debajo del carrusel*/
}
section.cajaDetallesDelProducto div i.goldenPD{
  color: darkgoldenrod;
}

section.cajaDetallesDelProducto p {
  margin: 1em 0;
 /*Parrafo del cuadro debajo del Carrusel*/
}
.readMore_btn{
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: #1c658c;
  color: white;
}
.readMore_btn:hover{
  background-color: green;
  width: 30%;
  margin: auto;
}
/*==============================================================CARD DE RESERVA=============*/
div.cardDeReserva{
  display: flex;
  margin-left: 3%;
  width: 40vw !important;
  border: solid 4px #d8d2cb;
  border-radius: 5%;
  height: 75%;
  padding: 0% 2% 1% 1%;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  
  
}
div.cardDeReserva h5{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Playfair Display", "Raleway", sans-serif;
  text-decoration: underline;
}
div.cardDeReserva p{
  color:#1c658c;
  font-weight: bold;
}
div.cardDeReserva p.precioCardPD{
  float: right;
  font-size: large;
  font-weight: bold;
  color: black;
  padding-right: 2%;
 
}
div.cardDeReserva label.estadiaPD{
  margin-top: 7%;
 padding-left: 30%;
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5%;
}
div.cardDeReserva div.fechasPD{
  padding: 1%;
  margin-left: 4%;
  border-radius: 2%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color:lightblue;
  margin-bottom: 2%;
}
div.carDeReserva div.huespedesPD input{
  max-width: 30%;
}

div.cardDeReserva div.terminosyCondicionesPD{
 
  padding-bottom: 2%;
}

div.cardDeReserva p.precioFinalPD{

font-size: large;
font-weight: bold;
color: black;
padding-right: 3%;

}
div.cardDeReserva a.buttonPD{
  margin-left: 15%;
 
  width: 70%;
 
}
div.cardDeReserva a.buttonPD:hover{
  background-color:rgb(216, 14, 98);

}
/*-------------ICONOS SECCION*/
section.iconosServiciosPD{
  width: 100%;
  justify-content: center;
  display: flex;
}

section.iconosServiciosPD div i{
  padding-left: 15px;
}
section.iconosServiciosPD{

  display: flex;
  justify-content: space-around;
 border: dotted 3px #398AB9;
}
.subtituloPD {
    width: 100%;
    margin: 10px;
    font-family: "Playfair Display", "Raleway", sans-serif;
    text-align: center;
    background-color: #eeeeee;
    font-size: 30px;
    color: #1c658c;
    border: solid 5px #d8d2cb;
    
    /*TITULO DE  CONSIDERA TAMBIEN*/
    
}
/* ------------------------------------ */

section.longCardasPD{
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-arounds;
}

/* --------------------------- */

.cardLongPD {
  border: solid 3px red;
  width: 20%;
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  background-color: #d8d2cb;
  color:black;
  border: double 5px #398AB9;
  margin: auto;
  /*------------------cuadro abajo, cosas imp. a tener en cuenta */
}
.cardLongPD section.sect-6{
  padding: 2%;
}
.cardLongPD section.sect-6 h2,
.cardLongPD section.sect-6 h3{
  text-align: center;
  font-family:  "Playfair Display", "Raleway", sans-serif;
}

.emul_head6 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
 /*FOTOS DE CUADRO COSAS IMP A TN EN CUENTA*/
}
/*--------------------------------------------------SECCION MAPA PD CENTRADO en el obelisco*/
section.mapaPD{
  display: flex;
  width: 9vw;
  margin: auto;
  justify-content: center;
  
}
section.mapaPD div.cajaMapaPD{
  width: 90% !important;
}
/*----------------------------------------------------------comentatios */
section.comentariosPD{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3%;
}
section.comentariosPD h2{
  width: 40%;
  max-height: 20vh;
  display: inline;
  justify-content: center;

}  
 div.comentariosejemploPD{
 display: flex;
 justify-content: center;
 
}
section.comentariosPD div.cajacomentarioPD,
section.comentariosPD div.dejaUnComentarioPD{
  width: 70%;
  background-color: #d8d2cb;
  margin: 1%;
  border: solid 2px gray;
  
}



section.comentariosPD div.cajacomentarioPD{
  padding: 3%;
  border-radius: 15%;
  width: 30%;
  justify-content: center;
 
}

section.comentariosPD div.dejaUnComentarioPD{
  width: 80%;
  margin: auto;
  background-color: #eeee;
  justify-content: left;
  padding-top: 2%;
  padding-left:5%;
  height: 28vh;
}
div.dejaUnComentarioPD input{
  justify-content: center;
}
div.dejaUnComentarioPD textarea{
  width: 70%;
  height: auto;
  max-height: 10vh;
}

button.buttonComentarioPD{
  float: right;
  background-color: rgb(2, 172, 2);
  min-width: 70px;
  border: solid 2px black;
  margin-bottom: 2%;
  margin-right: 2%;
}
/*---------------------------------------------Termina caja de Comentarios*/



/* ----------------------------footer---------------------------------------------------------------------- */
footer.registerFooter {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
footer.registerFooter div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #d8d2cb;
  width: 25%;
}
footer.registerFooter div h4 {
  text-align: center;
  font-style: normal;
  text-decoration: underline;
  color: #1c658c;
}

footer.registerFooter div p {
  margin: 8px 0px;
  font-style: oblique;
  color: black;
  text-align: justify;
}

.iconos {
  margin-left: 20px;
  color: #1c658c;
}

.iconos:hover {
  color: #9145b6;
}

footer div h4 {
  font-family: "Playfair Display", "Raleway", sans-serif;
  color: #1c658c;
  text-shadow: 2px 1px gray;
}

footer div h4:hover {
  font-size: 30px;
}
/*######################################################PRIMER MEDIA QUERI  PANTALLA GRANDE  ###########*/
@media (max-width:1100px){
  section.carrouselPD{
    display: none;
  }
  section.cajaDetallesDelProducto{
    width: 80%;
    margin: auto;
   
  }
  div.cardDeReserva{
    width: 60vw;
    height: auto;
    margin: 2% 30%;
    box-shadow: none;
  }
  .cardLongPD{
    width: 33%;
  }
  section.comentariosPD div.cajacomentarioPD,
  section.comentariosPD div.dejaUnComentarioPD{
    width: 100%;
  }
  section.comentariosPD div.dejaUnComentarioPD{
    height: auto;
  }
  .desaparecerElResponsiveMasGrande{
    display: none;
    /*segundo div de cometarios*/
  }
}

@media (min-width:300px) and (max-width:768px) {


  /*=====================================================footer*/
  footer.registerFooter {
    flex-wrap: wrap;
  }
  footer.registerFooter div {
    padding: 15px;
    width: 90%;
    margin: auto;
  }

  footer.registerFooter div h4 {
    color: #398ab9;
  }
  
  footer div h4:hover {
    font-size: 25px;
  }
}


