* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Raleway", sans-serif;
  background-color: #d8d2cb;
  margin: 0px;
  padding: 0px;
  width: 100% !important;
  height: 100% !important;
}

main {
  width: 100%;
  background-color: #eeeeee;
}

.mainproducDetail{
  display: flex;
  width: 90%;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 5% !important;
  row-gap: 15px;
}

div.tituloPD{
  width: 100%;
  margin: 0 auto 0 auto;
  align-self: flex-start;
  padding-top: 20px;
  /*CAJA DE TITULO*/
}
div.tituloPD h2{
  text-decoration: underline;
  font-weight: bolder;
  font-family: "Playfair Display", "Raleway", sans-serif;
  margin: 0px;
}
div.tituloPD i{
  color: rgb(226, 2, 2);
}
/*--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-CARRUSEl-=-=-=-=-=-=-=-=-=-=-=-*/
section.carrouselPD{
  width: 100%;
  margin: 0 auto; 
  border: solid 4-x red;
  box-sizing: content-box;
  max-width: 700px;
}

section.carrouselPD div img{
  width: 100%;
  height: auto;
}

/*--=-=-=-=-=-=-=-=-=FINNNN-=-=-=-=-=-=-CARRUSEl-=-=-=-=-=-=-=-=-=-=-=-*/
section.principalPD{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  row-gap: 15px;
  justify-content: center;
}

/* -----------------------------------ARRANCA CAJA DEBAJO CARRUSEL------------------ */
    
section.cajaDetallesDelProducto {
  border-radius: 5%;
  padding: 3%;
  text-align: center;
  flex: 0 0 100%;
  height: fit-content;
  color:black;
  background-color: #dddcda;
  border:double 5px #1c658c;
  max-width: 1000px;
  /*Tambien caja de informacion de abajo del carrusel*/
}
section.cajaDetallesDelProducto h2{
  color:#1c658c;
font-weight: bold;
font-family: "Playfair Display", "Raleway", sans-serif;
/*titulo de la caja debajo del carrusel*/
}
section.cajaDetallesDelProducto div i.goldenPD{
  color: darkgoldenrod;
}

section.cajaDetallesDelProducto p {
  margin: 1em 0;
 /*Parrafo del cuadro debajo del Carrusel*/
}
.readMore_btn{
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: #1c658c;
  color: white;
}
.readMore_btn:hover{
  background-color: green;
  width: 30%;
  margin: auto;
}

.cont-button-read-contacto {
  height: 50px;
  width: fit-content;
  margin: auto;
}
/*==============================================================CARD DE RESERVA=============*/
div.cardDeReserva{
  display: flex;
  flex: 0 0 80%;
  margin: none;
  border: solid 4px #d8d2cb;
  border-radius: 5%;
  padding: 0% 10%;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  justify-content: flex-start;
  max-width: 500px;
}

div.cardDeReserva h5{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Playfair Display", "Raleway", sans-serif;
  text-decoration: underline;
}
div.cardDeReserva p{
  color:#1c658c;
  font-weight: bold;
}
div.cardDeReserva p.precioCardPD{
  float: right;
  font-size: large;
  font-weight: bold;
  color: black;
  padding-right: 2%;
 
}
div.cardDeReserva label.estadiaPD{
  margin-top: 7%;
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 5px;
}
div.cardDeReserva div.fechasPD{
  padding: 1%;
  margin-left: 4%;
  border-radius: 2%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color:lightblue;
  margin-bottom: 2%;
}
div.carDeReserva div.huespedesPD input{
  max-width: 30%;
}

div.cardDeReserva div.terminosyCondicionesPD{
 
  padding-bottom: 2%;
}

div.cardDeReserva p.precioFinalPD{

font-size: large;
font-weight: bold;
color: black;
padding-right: 3%;

}
div.cardDeReserva a.buttonPD{
  margin-left: 15%;
 
  width: 70%;
 
}
div.cardDeReserva a.buttonPD:hover{
  background-color:rgb(216, 14, 98);

}
/*-------------ICONOS SECCION*/
section.iconosServiciosPD{
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 40px 0;
  max-width: 800px;
}
#a4 {
  flex: 1 1 25%;
  text-align: center;
}

section.iconosServiciosPD div i{
  padding-left: 15px;
}
section.iconosServiciosPD{

  display: flex;
  justify-content: space-around;
 border: dotted 3px #398AB9;
}
.subtituloPD {
    width: 100%;
    margin: 10px;
    font-family: "Playfair Display", "Raleway", sans-serif;
    text-align: center;
    background-color: #eeeeee;
    font-size: 30px;
    color: #1c658c;
    border: solid 5px #d8d2cb;
    
    /*TITULO DE  CONSIDERA TAMBIEN*/
    
}
/* ------------------------------------ */

section.longCardasPD{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  row-gap: 20px;
  margin-bottom: 20px;
}

/* --------------------------- */

.cardLongPD {
  width: 80%;
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  background-color: #d8d2cb;
  color:black;
  border: double 5px #398AB9;
  margin: auto;
  max-width: 600px;
  /*------------------cuadro abajo, cosas imp. a tener en cuenta */
}
.cardLongPD section.sect-6{
  padding: 2%;
}
.cardLongPD section.sect-6 h2,
.cardLongPD section.sect-6 h3{
  text-align: center;
  font-family:  "Playfair Display", "Raleway", sans-serif;
}

.emul_head6 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  max-width: 600px;
 /*FOTOS DE CUADRO COSAS IMP A TN EN CUENTA*/
}

.emul_head6 > img {
  width: 100%;
  height: auto;
}

/*--------------------------------------------------SECCION MAPA PD CENTRADO en el obelisco*/
section.mapaPD{
  width: 90%;
}
.mapa {
  width: 100%;
  height: 300px;
  min-width: none;
}

/*----------------------------------------------------------comentatios */
section.comentariosPD{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3%;
}

 div.comentariosejemploPD{
 display: flex;
 justify-content: center;
}

section.comentariosPD div.cajacomentarioPD,
section.comentariosPD div.dejaUnComentarioPD{
  background-color: #d8d2cb;
  margin: 1%;
  border: solid 2px gray;
}



section.comentariosPD div.cajacomentarioPD{
  padding: 3%;
  border-radius: 15px;
  flex: 1 1 48%;
  justify-content: center;
 
}

section.comentariosPD div.dejaUnComentarioPD{
  width: 80%;
  margin: auto;
  background-color: #eeee;
  justify-content: left;
  padding-top: 2%;
  padding-left:5%;
  height: 28vh;
}
div.dejaUnComentarioPD input{
  justify-content: center;
}
div.dejaUnComentarioPD textarea{
  width: 70%;
  height: auto;
  max-height: 10vh;
}

button.buttonComentarioPD{
  float: right;
  background-color: rgb(2, 172, 2);
  min-width: 70px;
  border: solid 2px black;
  margin-bottom: 2%;
  margin-right: 2%;
}
/*---------------------------------------------Termina caja de Comentarios*/



/* ----------------------------footer---------------------------------------------------------------------- */
footer.registerFooter {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
footer.registerFooter div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #d8d2cb;
  width: 25%;
}
footer.registerFooter div h4 {
  text-align: center;
  font-style: normal;
  text-decoration: underline;
  color: #1c658c;
}

footer.registerFooter div p {
  margin: 8px 0px;
  font-style: oblique;
  color: black;
  text-align: justify;
}

.iconos {
  margin-left: 20px;
  color: #1c658c;
}

.iconos:hover {
  color: #9145b6;
}

footer div h4 {
  font-family: "Playfair Display", "Raleway", sans-serif;
  color: #1c658c;
  text-shadow: 2px 1px gray;
}

footer div h4:hover {
  font-size: 30px;
}
/*######################################################PRIMER MEDIA QUERI  PANTALLA GRANDE  ###########*/
@media (min-width:1100px){
  section.carrouselPD{
    min-width: 1000px;
  }

  section.longCardasPD {
    flex-flow: row nowrap;
    column-gap: 20px;
  }

  .cardLongPD {
    width: none;
    flex: 1 1 30%;
    margin: 0px;
  }
}

@media (min-width:300px) and (max-width:768px) {


  /*=====================================================footer*/
  footer.registerFooter {
    flex-wrap: wrap;
  }
  footer.registerFooter div {
    padding: 15px;
    width: 90%;
    margin: auto;
  }

  footer.registerFooter div h4 {
    color: #398ab9;
  }
  
  footer div h4:hover {
    font-size: 25px;
  }
}


