*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
  
body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  color: #666;
}

.submit-main-section {
  height: auto;
  width: 90%;
  margin: 20px auto;
  max-width: 400px;
}

.submit-main-header-text {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
  color: #0574c9;
  font-weight: 700;
}

.wrapper-header {
  width: 100%;
  margin: 0px 0px 0.3rem 0px;
  color: #0079d3;
}

.submit-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
}

.submit-form > * {
  padding-top: 1rem;
  flex: 1 1 auto;
}

.submit-form-input {
  font-size: 1rem;
  border: 0px;
  width: 40%;
  height: 2.4rem;
  border-radius: 0.4rem;
  padding-left: 0.3rem;
  color: #666;
}

.submit-form-input:hover {
  box-shadow: 0px 0px 0.3rem black;
}

.submit-form-label {
  font-size: 0.8rem;
  width: 40%;
  height: 1rem;
}

.submit-form-main-data-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 0.6rem;
}

#select-type {
  width: 100%;
}

.form-price-guests-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 0.3rem;
}

.submit-form-description-wrapper {
  width: 100%;
}

#description {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.submit-form-amenities-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.amenitie-wrapper {
  flex: 0 0 50%;
}

.amenitie-label {
  font-size: 0.8rem;
}

.submit-form-location-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5rem;
}

.location-input {
  flex: 1 1 100%;
}

#city:disabled {
  background-color: #f5f5f5;
}

#map {
  height: 250px;
  width: 100%;
}

.gm-style-cc {
  display: none;
}

.submit-form-images-wrapper {
  display: flex;
  flex-flow: row wrap;
}

#edit-form-images-wrapper {
  display: none;
}

#edit-form-images-button {
  border: 1px solid #b80b05;
  border-radius: 1rem;
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #b80b05;
  transition: all 150ms linear;
  color: #eeeeee;
  margin: 1rem 0px;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}

#edit-form-images-button:hover {
  background-color: #b80b05;
  font-size: 0.82rem;
  text-decoration: none;
}

#images {
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 0px;
  font-size: 0.9rem;
}

#images:hover {
  box-shadow: none;
}

.images-ul-text {
  font-size: 0.8rem;
  flex: 0 0 100%;
}

#submit-preview-images {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.preview-image-wrapper {
  flex: 0 0 20%;
}

.preview {
  height: 100%;
  width: auto;  
  opacity: 0.5;
  max-height: 100px;
  text-align: center;
}

.submit-form-buttons-wrapper {
  width: 100%;
  padding-top: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 1rem;
}

#submit-form-save-button {
  border: 1px solid #0079d3;
  border-radius: 1rem;
  flex: 0 0 120px;
  height: 40px;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #0079d3;
  transition: all 150ms linear;
  color: #eeeeee;
  margin: 0px;
}

#submit-form-save-button:hover {
  background-color: #0873c5;
  font-size: 0.82rem;
}

#submit-form-back-button {
  border: 1px solid #0079d3;
  border-radius: 1rem;
  flex: 0 0 120px;
  height: 40px;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #eeeeee;
  transition: all 150ms linear;
  color: #0079d3;
  margin: 0px;
  padding: 9px 0px;
  text-align: center;
  text-decoration: none;
}

#submit-form-back-button:hover {
  background-color: #dddddd;
  font-size: 0.82rem;
  width: 400px;
}

.validation-error {
  font-size: 0.6rem;
  color: rgb(202, 72, 72);
  font-weight: 700;
  flex: 0 0 40%;
}

@media (min-width: 769px) {
  .submit-form {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .submit-main-section {
    max-width: 600px;

  }

  .submit-form-input {
    width: 49%;
  }

  .submit-form-label {
    width: 49%;
  }
  .validation-error {
    font-size: 0.8rem;
    flex: 0 0 50%;
  }
  #price-error {
    padding-left: 0.5rem;
  }
}