* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "roboto";
  text-align: center;

}
.logo{
  width: 150px;
  box-sizing: border-box;
  margin-left: 50px;
  height: 98%;
}

.main-header{
  padding: 3px;
}
.nav-bar-arriba{
max-width: 1200px;
margin:left;
display: flex;
justify-content: space-between;
position: relative;
align-items: flex-start;

}


.copy-div{
  display: flex;
  font-weight: 40;
  text-align: right;
  margin-right: 16px;
  display: flex;
  font-size: 12px;
  padding: 16px 10px 16px 0;
  
}
.copyP{
  margin-right: 15px;
  font-size: 20px;
}
.copyI{
  font-size: 20px;
  margin-right: 15px;
}


.img-cont {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-gap: 15px;
  max-width: 1200px;
 justify-content:stretch;
 background-position: center;
 margin-bottom: 10px;
 box-sizing: border-box;

  /* /*Cosas nuevas agregadas.
  display: flex;
  justify-content: space-between;
  background-color:salmon;
  /*Fin cosas nuevas agregadas*/

  /* max-width: 1300px;
  padding: 0px;
  border:dotted red 3px;box-sizing: border-box;
  object-fit: cover; */
} 

.img1 {
    
  display: none;
  grid-column-start: 1; 
  grid-column-end: 1; 
  grid-row-start: 1; 
  grid-row-end: 3;
  text-align: justify;

 
    }
.img2{
  display: none;
}


.img-principal{
  grid-column-start: 2; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 3;
  text-align: left;
  width: 860px;
  max-height: 408px;
  box-sizing: border-box;
  padding: 0 20px 0 0;

  overflow-y: auto;
  overflow-x: auto;
}

.hamburguer{
color: rgb(27, 111, 167);
display:block;
max-width: 100px;
padding: 15px 0;
border-radius: 8px;
text-align: center;
font-size: 25px;
margin: auto;
position: absolute;
left: 10px;

height: 98%;
box-sizing: border-box;

}
.nav-bar2{
  margin:5px;
  display: flex;
  max-width: 1200px;
  box-sizing: border-box;
  justify-content: start;
}

.nv2-enlace{
  background-color: salmon;
  color: white;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  max-width: 25%;
}
.nv2-enlace:hover{
  background-color: rgb(218, 228, 199);
}



.cont-descripcion-button-formulario{
  
  max-width: 1200px;
  display: flex;
  height: 424px;
} 
.cont-button-read-contacto{
  display: flex;
  justify-content: space-around;
 margin-bottom: 40px;

}
.s-sub-cont-button-read{
  display: flex;
  margin-top: 1%;
  margin-right: 40px;
}


.readMore_btn{
  margin-top: 30%;
  padding: 20px;
  align-items: center;
}
.button-contacto{
  display: flex;
  height: 80px;
  width: 80%;
  justify-content: space-around;
}
.button-c{
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 25px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
.sub-descripcionYbutton{
  text-align: left;
}
.s-sub-cont-descripcion{
  display: inline-block;
   max-width: 100%;

}
.descripcion{
 
  height: 5rem;
  display: inline-block;
  text-align: justify;
  
}

.s-sub-cont-button-read{
  margin-left: 8%;
}
.sub-cont-formulario{
  display: none;
  background-color:red;
}





.fstar{
  text-align: left;
  

}
.sub-cont-formulario{
  /* display: grid;
  grid-template-rows: 200px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  text-align: justify;   */
  border-radius: 50px 0 50px 0 / 100px 0 100px 0;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px;
}
.formulario{
  grid-column-start: 9; 
  grid-column-end:15; 
  grid-row-start: 1; 
  grid-row-end: 3;
background-color:salmon;}

/* .p-precio-unitario{
display: inline-block;
font-size: 20px;
} */

.lb{
  display: inline-block;
  justify-content: space-around;
  color: blue;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
}
.nom{
  width: 80%;
  padding: 4px;
  margin-left: 20px;
}

.huespedesk{
  display: inline-block;
  justify-content: space-around;
  color: blue;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
}
.huespedMY{
  display: inline-block;
  justify-content: space-around;
  color: blue;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
}
.button-send{
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 1%;
}



.cont-descripcion-button-formulario p {

 padding: 0em 2em;
 color: rgba(0, 0, 0, .5);
 margin: 5px;
 
}
.cont-descripcion-button-formulario{
  height: 300px;
}
.sub-cont-formulario{
  height: 420px;
}
.p-precio{
  display: block;
  font-size: 3rem;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
}
.p-sub-precio{
  display: block;
  text-align: center;
}

.readMore_btn {
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 1%;

}
.cont-button-read{
  display: flex;
}
.readMore_btn:hover {
  box-shadow: none;
  background-color: black;
  color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}
.hide{
  display: none;
}
.show{
  display: block;
}









.txt-caracterizacion{
  display: none;
  background-color: salmon;
  font-size: 24px;
  margin-top: 20%;
  margin-bottom: 15%;
  width: 700px;
  margin: left;
  margin-top: 50px;
}
.txt-caracterizacion {
  color: blue;
  padding: 15px 40px 0 0;
  margin:1% 24% 1% 0;
  
}
.cont-gal-fotos-small{
  /* display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 15fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 1200px; */
  display: none;
  flex-wrap: wrap;
 justify-content:space-around;
 background-position: center;
 margin-bottom: 10px;
 box-sizing: border-box;
 width: 1200px;
 
 border: 2px solid green;
}
.caja1{
  display: block;
  width: 20%;
  height: auto;
  margin: 0 3px;
  border: 2px solid black;
  
 
  /* overflow: hidden; */
 background-color:salmon;
}
.caja2{
  display: block;
  width: 20%;
  height: auto;
  margin: 0 3px;
  /* overflow: hidden; */
  border: 2px solid black;
}
.caja3{
  width: 20%;
  height: auto;
  margin: 0 3px;
  border: 2px solid black;
  /* overflow: hidden; */
}
.h0g{
  text-align: left;
  padding: 15px;
}
.h1g{
  display:none;
  color: blue;
}
.button-hide{
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size:3em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 1%;
  position: relative;
  bottom:20vh;
}

.cont-grid-servicios{
  margin-top: 0.1vh;
  width: 600px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows:  200px;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 5px;
}
.cont-grid-servicios2{
  margin-top: 0.1vh;
  width: 1200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows:  200px;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 500px;
}

.serv-item{
  display: inline-block;
  font-size: 10px;
  width: 180px;
  padding: 5px;
 
}
.desc-item{
  transform: scale(.4);
}
.desc-item1{
  transform: scale(.15);
}
.desc-item2{
  transform: scale(1.25);
}
.desc-item3{
  transform: scale(.1);
}
.desc-item4{
  transform: scale(.18);
}
.desc-item5{
  transform: scale(.15);
}
.desc-item6{
  transform: scale(.16);
}
.desc-item7{
  transform: scale(.18);
}
.desc-item8{
  transform: scale(.18);
}
.desc-item9{
  transform: scale(.18);
}
.txt{
  font-size: 20px;
}

.gallery-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows:  200px;
  background-color: green;
  width: 1200px;
  height: auto;
 margin-top: 20px;
  padding: 20px;
  grid-gap: 10px;
 position: relative;
 bottom: 230px;
 }
 .gallery-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .gallery-item{
   position: relative;
   text-align: right;
   display: flex;
   justify-content: right;
 }
 .gallery-title{
   display: block;
   position: absolute;
   bottom: 0;
   color: white;
   margin: 0;
   font-size: 30px;
   justify-content: right;
   
 }
 
 .gallery-item:nth-child(4){
   grid-column-start:span 2;
 }
 .gallery-item:nth-child(5){
   grid-row-start:span 1;
 }
 .gallery-item:nth-child(){
  grid-row-start:span 2;
}

.cont-geo{
  width: 1000px;
  transform: scale(.95);
  position: relative;
  bottom:180px;
  
}

.cot-gallery-geo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-condiciones{

  display: flex;
  position: relative;
  bottom: 180px;
  width: 1200px;
  margin-left: 30px;
  flex-direction: column;
}

.c-aloj{
  border: red solid 2px;
  padding: 20px;
  width: 500px;
  margin: 10px 30px;
}

.c-politicas{
  border: red solid 2px;
  padding: 20px;
  width: 500px;
  margin: 10px 30px;
}
.c-normas{
  border: red solid 2px;
  padding: 20px;
  width: 500px;
  margin: 10px 30px;
}
.c-garantia{
  border: red solid 2px;
  padding: 20px;
  width: 500px;
  margin: 10px 30px;
}
.c-aloj-politicas{
  display: flex;
  margin-left: 40px;
}
.c-normas-garantia{
display: flex;
margin-left: 40px;
}
.cont-valoraciones{
  display: flex;
  flex-direction: column;
}
.val1{
  display:block;
  width: 500px;
  text-align: left;
  height: 300px;
  padding: 30px ;
}
.val2{
  display:block;
  width: 500px;
text-align:  left;

}
.val3{
  display:block;
  width: 500px;
  text-align: left;
}
.txt-val{
  text-align: justify;
  font-size: 20px;
  position: relative;
  bottom: 480px;
  display: table;
  height: 220px;
  width: 1200px;
  margin: 2rem auto;
}
.txt-val p{
  color: blue;
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  font-size: 24px;
  padding: 15px;
}
.s{
  text-align: left;
  transform: scale(.18);
  font-size: 20px;
}
.img{
  transform: scale(.18);
}
.user{
  position: relative;
  right:220px;
  bottom:200px;
}
.n-user{
  position: relative;
  bottom: 400px;
  font-size: 30px;
}
.txt-val-leer{
  width: 1200px;
  text-align: right;
  font-size: 20px;
}
.cont-pre-footer{
  color: blue;
  text-align: justify;
  font-size: 40px;
  position: relative;
  bottom: 260px;
  display: table;
  height: 100px;
  width: 400px;
  margin: 2rem auto;
}
.cont-pre-footer p{
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  font-size: 24px;
  padding: 15px;
  text-align: center;
  background-color: salmon;

}
.foot-cont{
  display: flex;
  position: relative;
  bottom:200px;
  text-decoration: none;
  text-align: left;
  margin: 20px;
  padding: 20px;
}
.foot-a{
  width: 400px;
  text-decoration: none;
}
.foot-a ul {
  text-decoration: none;

}
.foot-a ul li {
  list-style-type: none;
  padding: 30px;
}
.foot-b{
  text-decoration: none;
}
.foot-b ul {
  text-decoration: none;
}
.foot-b ul li{
  list-style-type: none;
  padding: 30px;
}
.foot-b{
  width: 400px;
  text-decoration: none;
}
.foot-c{
  width: 400px;
  text-decoration: none;
}
.foot-c ul li{
  list-style: none;
  padding: 30px;
}
.foot-enc{
  font-size: 26px;
}
#face{
  transform: scale(.1);
  position: relative;
  bottom: 250px;
  right: 270px;
}
.txt-face{
  position: relative;
  bottom: 520px;
  left:20px;
}
#twit{
  transform: scale(.1);
  position: relative;
  bottom: 750px;
  right: 270px;
}
.txt-twit{
  position: relative;
  bottom: 1020px;
  left:20px;
}
#yout{
  transform: scale(.1);
  position: relative;
  bottom: 1255px;
  right: 270px;
}
.txt-yout{
  position: relative;
  bottom: 1525px;
  left:20px;
}
#inst{
  transform: scale(.1);
  position: relative;
  bottom: 1760px;
  right: 270px;
}
.txt-inst{
  position: relative;
  bottom: 2025px;
  left:20px;
}

@media(min-width:460px){
  .txt-caracterizacion{
    display: none;
}

.h1g{
  display:block;
}
.sub-cont-formulario{
  display: inline-block;
}
.button-hide{
  display: none;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #4caf50;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 1%;
}
}

@media(max-width:460px){
  .copy-div{
    display: flex;
    flex-direction: column;
    
  }
  .txt-val-leer{
    width: 800px;
    text-align: right;
    font-size: 20px;
  }
  .gallery-container{
    
    width: 800px;
    
   }
   .txt-val{
     width: 800px;
   }
   .cont-condiciones{
     width: 800px;
   }
  .cont-descripcion-button-formulario{
    width: 900px;
  }
  .cont-grid-servicios2{
    margin-top: 0.1vh;
    width: 1200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:  200px;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 500px;
  }
.button-hide{
  position: relative;
  bottom: 110vh;
}

}
/* #seis{
  position: absolute;
  top: 100%;
  right: 280%;
}
#siete{
  position: absolute;
  top: 10%
  left: 1000%;
} */
 



@media(min-width:768px){
.img1  {
    display: none;
  }
  
  /* .cont-formulario{
    position: relative;
  right: 600px;
  bottom: 470px;
  } */
  .p-descripcion{
    position: relative;
    top:470px;
    left:600px;
  }

  .txt-caracterizacion{
    display: flex;
    height: auto;
    margin: 0;
    justify-content: center;
    width: 900px;
    font-size: 60px;
    margin-top: 5%;
    font-size: 40px;
}
.sub-cont-formulario{
  width:3000px;
  margin-left: 50px;
  
 }

}
@media(max-width:768px){
     .cont-descripcion-button-formulario{
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 500px;
     }
     .cont-button-read-contacto{
       flex-direction: column;
     }
     .gallery-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows:  200px;
      background-color: green;
      width: 1200px;
      height: auto;
      margin: 0;
      padding: 20px;
      grid-gap: 10px;
      position: relative;
      top: 80px;
     }
     .gallery-item:nth-child(4){
      grid-column-start:span 1;
    }
    .gallery-item:nth-child(1){
      grid-row-start:span 2;
    }
    .cont-geo{
      width: 1000px;
      transform: scale(.95);
      position: relative;
      margin-top: 300px;
      
    }
    
    }
    




@media(min-width:1200px){
  /* .cont-formulario{
    position: relative;
  right: 5%;
  bottom: 200px;
  max-width: 1300px;
  } */
  
  
  .img1{
    display: block;

  }
  .img2 {
    display: none;
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
    text-align: left;
    padding: 1px;
    margin-left: 20px;
        }
     .sub-cont-formulario{
      position: relative;
      right: 0.04%;
      bottom: 200px;
      width:2000px;
     }
     .txt-caracterizacion{
       margin-top: 0;
     }
    }