* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-color: #dbe2ef;
}
/*------------------HEADER TIENE CLASE ==============registerHeader==========*/
header.registerHeader {
  /*width: 95vw;
  height: auto;
  margin: auto;
  background-color: #1c658c;
  padding: 2%;
  border: solid 2px #9145b6;*/
  width: 100vw;
  background-color: #1c658c;
  /*background-image: url("../images/full-header-bg.webp");*/
  background-image: url("../images/index-header-mountain.png");
  background-position: center;
  height: auto;
}
header div.topHeaderRegister {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1vh 5vw;
}

header div.logoHeaderRegister {
  height: fit-content;
  width: 150px;
}
header div.logoHeaderRegister img {
  width: 100%;
}

header div.cajaTituloHeaderRegister {
  margin: 0% 2%;
  display: flex;
  align-self: flex-end;
  justify-items: center;
}
header div.cajaTituloHeaderRegister p {
  /*font-family: fantasy;
  color: black;
  font-style: oblique;
  font-size: larger;
  font-weight: bolder;*/
  text-align: left;
  color: #d8d2cb;
  font-family: "Playfair Display", "Raleway", sans-serif;
  text-transform: unset;
  font-size: 2.5rem;
}
header div.cajaTituloHeaderRegister p.apareceMedianoRegister {
  display: none;
}
/*header div div.cajaTituloHeaderRegister p span{
  

}*/
header div div.butoonHEaderRegister {
  align-self: center;
}

header div div.butoonHEaderRegister button {
  padding: 10%;
  width: auto;
  height: auto;
  border: solid 2px #9145b6;
  border-radius: 12%;
  background-color: #398ab9;
}
header div div.butoonHEaderRegister button:hover {
  background-color: #9145b6;
}
header div div button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #d8d2cb;
  font-weight: bolder;
}

.butoonHEaderRegister {
  height: 80px;
  width: 140px;
  background-color: #1c658c;
  color: black;
  border: 3px solid #eeeeee;
  transition-duration: 0.4s;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Playfair Display", "Raleway", sans-serif;
  margin-right: 25px;
  border-radius: 6px;
}

.butoonHEaderRegister:hover {
  background-color: #9145b6;
  color: white;
  width: 160px;
  font-size: larger;
}

.s-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 5px;
  padding: 5px;

}  
.card {
  width: 30%;
  overflow: hidden;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  margin: 5px;
  min-width: 300px;
}
.card #a2{
    width: 60% !important;
    flex-grow: 60%;
}
.emul_head {
  width: 100%;
  height:320px;
  overflow: hidden;
  position: relative;
}

/* .emul_head::before {
  content: '';
  position: absolute;
  border-top: 30px solid transparent;
  border-left: 400px solid white;
  bottom: 0;
} */

.emul_head img {
  width: 100%;
  height: 300px;
}

section {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}

section h2 {
  margin: .5em 0;
}

section p {
  margin: 1em 0;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: .5em .2em;
}

ul li a {
  text-decoration: none;
  color: white;
  background: #314652;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

ul li a:hover {
  transform: scale(1.2);
}
/* ----------------------------------------------------- */
.main-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card2 {
  width: 50%;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  margin: 5px;
  min-width: 300px;
  color: #d8d2cb;
background-color:#1c658c;
}
.card #a2{
    width: 60% !important;
    flex-grow: 60%;
}
.emul_head2 {
  width: 1%;
  height: 2px;
  overflow: hidden;
  position: relative;
}


.emul_head2 img {
  width: 1%;
  height: 0;
}

.sect-2 {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;
}

.sect-2 form {
  margin: .5em 0;
  display: inline-block;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
}
.p-precio{
    font-size: 43px;
    margin-bottom: 0;
}
#lb{
    height: 30px;
    font-size: 20px;
}
.nom{
    height: 30px;
    width: 90%;
}
#name{
  height: 30px;
  width: 90%;
}
.button-send{
  height: 40px;
  width: 80%;
  margin-top: 10px;
  border-radius: 10px;
  background-color:#12cc94;
  color: wheat;
  border: solid 2px cornflowerblue;
  font-size: 25px;
}
.button-contacto{
  height: 60px;
  width: 80%;
  color: wheat;
  font-size: 35px;

}
.sect-2 p {
  margin: 1em 0;
}

/* ------------------- */
.card3 {
  width: 40%;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  margin: 5px;
  min-width: 300px;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #d59bf6;
  columns: #1c658c;

}
.card #a2{
    width: 60% !important;
    flex-grow: 60%;
}
.emul_head3 {
  width: 1%;
  height: 2px;
  overflow: hidden;
  position: relative;
}


.emul_head3 img {
  width: 1%;
  height: 0;
}

.sect-3 {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;
  color: #1c658c;
  font-weight: bold;
}

.sect-3 form {
  margin: .5em 0;
  display: inline-block;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
}
.sect-3 p {
  margin: 1em 0;
}
.readMore_btn{
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: #1c658c;
  color: white;

}

.sect-33 {
    width: 100%;
    margin: 10px;
    background-image: radial-gradient(circle at 49.58% 50.42%, #ffffff 0, #edffff 16.67%, #d6f9ff 33.33%, #bcedfb 50%, #a3e1f6 66.67%, #8bd5f3 83.33%, #77c9f1 100%);      text-align: center;
    font-size: 30px;
    color: #1c658c;
    border: solid 5px #d8d2cb;
}
/* ------------------------------------ */
.main-4{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 7%;
  height: auto;
  background-image: radial-gradient(circle at 49.58% 50.42%, #ffffff 0, #edffff 16.67%, #d6f9ff 33.33%, #bcedfb 50%, #a3e1f6 66.67%, #8bd5f3 83.33%, #77c9f1 100%);    
}
.card4 {
  width: 20%;
  overflow: hidden;
  background: rgb(232, 231, 231);
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  margin: 40px;
  min-width: 50px;
}
.card #a4{
    width: 60% !important;
    flex-grow: 60%;
}
.emul_head4 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}


.emul_head4 img {
  width: 100%;
  height: 80px;
}

.sect-4 {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;
}

.sect-4 h6 {
  margin: .5em 0;
  display: inline-block;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
}




.gallery-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows:  200px;
 margin-left: 5px;
  padding: 20px;
  grid-gap: 10px;
 position: relative;
 min-width: 300px;
 background-color: #1c658c;

 }
 .gallery-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
 }
 .gallery-item{
   position: relative;
   text-align: right;
   display: flex;
   justify-content: right;
   width: 350px;
   height: auto;
 }
 @supports(object-fit: cover){
  .gallery-item{
    height: 100%;
    object-fit: cover;
    object-position: center center;
 }}
 .gallery-title{
   display: block;
   position: absolute;
   bottom: 0;
   color: white;
   margin: 0;
   font-size: 30px;
   justify-content: right;
   
 }
 
 .gallery-item:nth-child(4){
   grid-column-start:span 1;
 }
 
 .gallery-item:nth-child(){
  grid-row-start:span 2;
}

.main-5{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 7%;
  height: auto;

}
.card5 {
  width: 90%;
  height: 400px;
  overflow: hidden;
  background: rgb(232, 231, 231);
  border-radius: 15px;
  /* box-shadow: 7px 13px 37px rgba(0, 0, 0, .6); */
  margin: 40px;
  min-width: 300px;
}
.emul_head5 {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}


.emul_head5 img {
  width: 100%;
  height: 100%;
}

/* --------------------------- */
.main-6{
  display: flex;
  flex-wrap: wrap;
  background-color: #1c658c;
  justify-content: space-around;
  gap:1%;
}



.card6 {
  width: 20%;
  overflow: hidden;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  margin: 5px;
  min-width: 200px;
  background-color: #1c658c;
  color:white;
}
.emul_head6 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}


.emul_head6 img {
  width: 100%;
  height: 300px;
}

.sect-6 {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}

.sect-6 h2 {
  margin: .5em 0;
}

.sect-6 p {
  margin: 1em 0;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: .5em .2em;
}

ul li a {
  text-decoration: none;
  color: white;
  background: #314652;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

ul li a:hover {
  transform: scale(1.2);
}

/* ---------------------------- */
.main-7{
  display: flex;
  flex-wrap: wrap;
  background-image: radial-gradient(circle at 49.46% 50.25%, #ecf1ff 0, #e3eafb 12.5%, #dbe2ed 25%, #d5d8dd 37.5%, #cfcecd 50%, #cbc3bd 62.5%, #c7b9b0 75%, #c5afa4 87.5%, #c3a69b 100%);    gap:1%;

}
.card7 {
  width: 100%;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  margin: 5px;
  min-width: 300px;
  grid-column: 1/2;
  grid-row: 1/2;

}
.emul_head7 {
  width: 1%;
  height: 2px;
  overflow: hidden;
  position: relative;
}


.emul_head7 img {
  width: 1%;
  height: 0;
}

.sect-7 {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;
  text-align: left;
  color: #1c658c;
  background-color: #d8d2cb;
}

.sect-7 h2 {
  margin: .5em 0;
  display: inline-block;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
  text-align: left;
}
.sect-7 p {
  margin: 1em 0;
  font-size: 30px;
}

.sect-7{
    margin: 10px;
}



/* ----------------------------footer---------------------------------------------------------------------- */
footer.registerFooter {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
footer.registerFooter div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #d8d2cb;
  width: 25%;
}
footer.registerFooter div h4 {
  text-align: center;
  font-style: normal;
  text-decoration: underline;
  color: #1c658c;
}

footer.registerFooter div p {
  margin: 8px 0px;
  font-style: oblique;
  color: black;
  text-align: justify;
}

.iconos {
  margin-left: 20px;
  color: #1c658c;
}

.iconos:hover {
  color: #9145b6;
}

footer div h4 {
  font-family: "Playfair Display", "Raleway", sans-serif;
  color: #1c658c;
  text-shadow: 2px 1px gray;
}

footer div h4:hover {
  font-size: 30px;
}


@media (min-width:300px) and (max-width:768px) {

  footer.registerFooter {
    flex-wrap: wrap;
  }
  footer.registerFooter div {
    padding: 15px;
    width: 90%;
    margin: auto;
  }

  footer.registerFooter div h4 {
    color: #398ab9;
  }
  
  footer div h4:hover {
    font-size: 25px;
  }
}



@media (min-width: 768px) and (max-width:1200px){
  .gallery-container{
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-auto-rows:300px;
      grid-gap: 20px;
    }

    .gallery-item:nth-child(5){
      grid-row: 1/3;
      display:none
    }

}

@media (min-width: 1200px)
{
  .gallery-container{
      display: grid;
      grid-template-columns:  1fr 1fr 1fr;
      grid-auto-rows:1fr 1fr 1fr;
      grid-gap: 20px;
    }
    .gallery-item:nth-child(4){
      grid-row: 1/3;
    }
    



}
