* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body.register {
  background-color: #d8d2cb;
}
/*------------------HEADER TIENE CLASE ==============registerHeader==========*/
header.registerHeader {
  /*width: 95vw;
  height: auto;
  margin: auto;
  background-color: #1c658c;
  padding: 2%;
  border: solid 2px #9145b6;*/
  width: 100vw;
  background-color: #1c658c;
  /*background-image: url("../images/full-header-bg.webp");*/
  background-image: url("../images/index-header-mountain.png");
  background-position: top;
  height: auto;
}
header div.topHeaderRegister {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1vh 5vw;
}

header div.logoHeaderRegister {
  height: fit-content;
  width: 150px;
}
header div.logoHeaderRegister img {
  width: 100%;
  box-shadow: 0 0 15px #ddd;
  border-radius: 12px;
}
/*--------------------------------------------------MAIN DEL REGISTER--- */
main.registerMain {
  width: 70vw;
  height: auto;
  background-color: white;
  margin: 3vh auto;
  border-radius: 10px;
  padding: 3vh;
  max-width: 600px;
  color: #429dd1;
  border: solid 4px ;

}
/*-----------------------------------------titulo de la pagina--------------*/
div.cajaTituloRegister {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
}
 div.cajaTituloRegister p {
  /*font-family: fantasy;
  color: black;
  font-style: oblique;
  font-size: larger;
  font-weight: bolder;*/
  justify-content: center;
  color: #7c6850;
  font-family: "Playfair Display", "Raleway", sans-serif;
  text-transform: unset;
  font-size: 1.5rem;
 
}
 div.cajaTituloRegister p.apareceMedianoRegister {
  display: none;
}

main.registerMain div.divPrincipalMainRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  
  
  
}
section.primerSectionCuestionarioRegister {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
 
}

div.primerCuestionarioRegister {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  width: 95%;
}
div.primerCuestionarioRegister {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.primerCuestionarioRegister label,
div.primerCuestionarioRegister input {
  width: 100%;
  height: 5vh;
}
div.primerCuestionarioRegister input {
  padding-left: 3%;
}
div.primerCuestionarioRegister label {
  color: #429dd1;
  font-size: 1.5rem;
}
div.checkbox{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
div.checkbox input,
div.checkbox label{
  width: 50%;
 
}




/*-----------------------------------------------------BOTON REGISTER---*/
main div form button {
  width: 50%;
  height: 5vh;
  margin: 0% 25%;
  background-color: #9145b6;
}
.submitRegister {
  background-color: #9145b6;
  color: black;
  border: 3px solid #eeeeee;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Playfair Display", "Raleway", sans-serif;
}
.submitRegister:hover {
  background-color: #398ab9;
  width: 100%;
  margin: auto;
}
/*-------------------------------------------------------Secction ingresa con redes sociales--*/
main div form section div.ingresaConRedesRegister{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
}
main div form section  h3{
  font-size: 1.5rem;
  margin: 3% 0%;
  text-align: center;
}
main div form section div.ingresaConRedesRegister button{
  border: solid 3px ;
  margin: 3%;
  height: auto;
  padding: 1%;
  display: flex;
  width: 80%;
  justify-content: space-between;
  background-color: white;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  
}
main div form section div.ingresaConRedesRegister button:hover{
  background-color: #d8d2cb;
}
  main div form section div.ingresaConRedesRegister button p {
    color: black;
    font-weight: bolder;
  }
  
  

/*-------------------------------------FOOTER REGISTER*/
footer.registerFooter {
  display: flex;
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
}
footer.registerFooter div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #d8d2cb;
  width: 25%;
}
footer.registerFooter div h4 {
  text-align: center;
  font-style: normal;
  text-decoration: underline;
  color: #1c658c;
}

footer.registerFooter div p {
  margin: 8px 0px;
  font-style: oblique;
  color: black;
  text-align: justify;
}

.iconos {
  margin-left: 20px;
  color: #1c658c;
}

.iconos:hover {
  color: #9145b6;
}

footer div h4 {
  font-family: "Playfair Display", "Raleway", sans-serif;
  color: #1c658c;
  text-shadow: 2px 1px gray;
}

footer div h4:hover {
  font-size: 30px;
}

/*======================================================RESPONSIVE VIEW TABLET====================================*/
@media (min-width: 576px) and (max-width: 768px) {
  header div.topHeaderRegisterP {
    flex-wrap: nowrap;
  }
  header div.logoHeaderRegister
   {
    width: 20vw;
    margin: 0;
    padding: 0%;
    height: fit-content;
  }
  header div.logoHeaderRegister {
    width: 150px;
  }
  header div.logoHeaderRegister img {
    width: 100%;
  }
   div p.desaparecerEnMediano {
    display: none;
  }
   div.cajaTituloRegister p.apareceMedianoRegister {
    display: block;
  }

}
/*=============================================================================modificacion para CELULAR=====*/
@media (min-width: 300px) and (max-width: 576px) {
  header div.topHeaderRegister {
    flex-wrap: wrap;
  }
  header div.logoHeaderRegister
  {
    width: 60%;
    margin: 1% 35%;
    height: fit-content;
    align-self: center;
  }
  header div.logoHeaderRegister {
    width: 150px;
  }
  header div.logoHeaderRegister img {
    box-sizing: border-box;
  }
  div.cajaTituloRegister  {
    width: 100%;
  }
  div p.desaparecerEnMediano {
    display: none;
  }
   div.cajaTituloRegister p.apareceMedianoRegister {
    display: block;
  }
  main.registerMain {
    width: 90vw;
  }
  input{
    height: auto;
  }
  .submitRegister{
    width: 100%;
    margin: auto;
  }
}






/*FOOTER MEDIA QUERIES*/
@media (min-width:300px) and (max-width:768px) {
  
  footer.registerFooter {
    flex-wrap: wrap;
    font-family: "Playfair Display", "Raleway", sans-serif;
    font-size: smaller;
  }

  footer.registerFooter div {
    padding: 10px;
    width: 100%;
    margin: auto;
  }

  footer.registerFooter div h4 {
    color: #398AB9;
  }
  
  footer div h4:hover {
    font-size: 10px;
  }
}
