colores{
    background-color: #eeeeee;
    background-color: #d8d2cb;
    background-color: #9145b6;
    background-color: #398AB9;
    background-color: #1C658C;
}
  
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    font-family: "Playfair Display", "Raleway", sans-serif;
    text-align: center;
    margin-top: 15px;
    background-color: #1C658C;
    color: #eeeeee;
}

p{
    font-family: "Playfair Display", "Raleway", sans-serif; 
}

.cajas-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
    width: 98%;
    height: auto;
}

.img{
    max-width:100%;
    height: auto;
}

.titleP{
    margin: auto;
    width: 30%; 
    padding:1%;
}

.accordion{
    width: 98%;
    margin: auto;
    margin-top: -0.8%;
}

.submitRegister{
    width: 98%;
    margin: auto;
    background-color: #1C658C;
}

.a{
    text-decoration: none;
    color: #eeeeee;
    font-weight: lighter;
    outline: none;
}

.servicios{
    display: inline-flex; 
    justify-content: space-between; 
    width: 98%; 
    border: transparent solid 3px;  
    margin: auto;
    padding: auto;
    background-color: white;
}

.servicios i{
    color: #398AB9;
    margin-left: 32%;
}

h6{
    text-align: center;
    font-size: small;
}
/* css view info */

p i{
    font-size: large; 
    color: #398AB9; 
    margin-left: 5px;
    margin-top: 30px;
    padding: 40px 20px 0 20px;
}

mark{
    background-color: #8d60a1;
}

.infoTer{
    background-color: white;
    border: solid 4px #d8d2cb;
    border-radius: 5%;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
    padding: 6vh;
    margin: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.infoTer p{
    width: 50vw;
    text-align: justify;
    margin: auto;
}

.submitRegister {
    background-color: #8d60a1;
    color: black;
    border: 3px solid #eeeeee;
    font-size: large;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: "Playfair Display", "Raleway", sans-serif;
}

.submitRegister:hover {
    background-color: #4d8fb5;
    width: 90%;
    margin: auto;
}

/*css view user/detail*/

.caja-detail{
    text-align:center;
    margin: 35px; 
}

.marco-detail{
    background-color: white;
    border: solid 4px #d8d2cb;
    border-radius: 5%;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
    width: 40%;
    margin: auto;
    padding: 12px;
}

.caja-detail img{
    width:200px;
    height:200px;
    border-radius:150px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, .6);
}

.p1-detail{
    font-size:30px; 
    color:#398AB9; 
    text-align: center; 
    margin: auto
}

.p2-detail{
    font-size:28px; 
    color:#1C658C; 
    text-align: center; 
    margin: auto
}

.submitRegister {
    background-color: #8d60a1;
    border: 3px solid #eeeeee;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: "Playfair Display", "Raleway", sans-serif;
    margin: auto;
    max-width: 15%;
}
.submitRegister:hover {
    background-color: #4d8fb5;
    max-width: 38%;
    margin: auto;
}

.b-detail{
    text-decoration: none; 
    color: whitesmoke;
    cursor: pointer;
}
/*view traveler*/
summary{
    font-size: x-large;
}

@media (min-width: 360px) and (max-width: 815px) {
   
    .card {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-top: 5%;
        width: 90vw;
    }
    
    .titleP{
        width: 90%; 
    }
    
    .accordion{
        width: 90vw;
    }
    
    .submitRegister{
        max-width: 90vw;
    }
    
    .a{
        text-decoration: none;
        color: #eeeeee;
        font-weight: lighter;
        outline: none;
    }
    
    .servicios{
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        width: 90vw; 
        align-items: center;
    }
    
    .servicios i{
        margin-left: 40%;
    }

    .img{
        max-width: 100%;
        margin: auto;
    }
    /*css view user/detail*/

    .marco-detail{
        width: 80%;
        height: auto;
    }

    .caja-detail img{
        width:100px;
        height:100px;
    }

    .p1-detail{
        font-size:20px;
    }

    .p2-detail{
        font-size:18px; 
    }

    .submitRegister {
        max-width: 25%;
    }
    .submitRegister:hover {
        max-width: 68%;
    }

}

@media (min-width: 1200px){
    .card {
        width: 60%;
    }
    
    .submitRegister{
        width: 60%;
    }
    
    .servicios{
        width: 60%; 
    }
    
    .accordion{
        width: 60%;
    }
    
}
