* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

header {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-image: url('../images/index-header-mountain.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

.header-top-bar {
  background-color: rgba(57, 138, 185, 0.7);
  flex: 1 1 3.6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  
  align-items: center;
}

.header-logo-wrapper {
  flex: 1 1 90%;
  height: 100%;
}

.logo-text-style {
  font-size: 2.8rem;
  font-weight: 600;
  width: max-content;
  color: #d8d2cb;
  text-shadow: 1px 1px #9145b6;
  margin: 0;
  padding-left: 5px;
}

@media (min-width: 341px) {
  .logo-text-style {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0px;
  }
}

.header-logreg-wrapper {
  display: none;
}

.header-burger-wrapper {
  flex: 0 0 3.2rem;
  position: relative;
  height: 100%;
  border-left: 1px solid #d8d2cb;
  border-bottom-left-radius: 5px;
}

.burger-icon {
  font-size: 2rem;  
  color: #d8d2cb;
  text-shadow: 1px 1px #9145b6;
  position: absolute;
  right: 0.8rem;
  top: 1rem;
}

.header-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  min-height: 300px;
  width: 90%;
  margin: auto;
}

.header-search-wrapper {
  flex: 0 0 3rem;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  column-gap: 0.5rem;
  justify-content: center;
}

.header-search-input, 
.header-search-button {
  height: 100%;
  background-color: rgb(238, 238, 238);
  font-size: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: normal;
  color: #1c658c;
}

.header-search-input { 
  flex: 1 1 calc(100% - 3rem);
  max-width: 400px;
  min-width: 200px;
}

.header-search-button {
  flex: 0 0 3rem;
  font-size: 1rem;
  padding: 0;
  color: #1c658c;
  transition: all 100ms linear;
}

.search-button-icon {
  transition: transform 250ms linear;
}

.header-form-wrapper {
  display: flex;
  flex-flow: column wrap;
  column-gap: 10px;
  height: 3rem;
  width: 100%;
  align-items: flex-end;
}

.header-picker-label-wrapper {
  flex: 0 0 100%;
  width: fit-content;
}

#header-checkout-wrapper,
#header-kids-wrapper {
  align-self: flex-start;
}

.header-label {
  display: block;
  height: 1rem;
  font-size: .8rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
}

.header-form-picker {
  width: 130px;
  height: 2rem;
  background-color: rgb(238, 238, 238);
  font-size: 0.95rem;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 5px;
  color: #1c658c;
}

input#date-checkin,
input#date-checkout {
  color: #1c658c;
  font-size: 0.8rem;
}

.header-form-picker:hover {
  box-shadow: 0px 0px 3px 1px #398ab9;
}

.header-search-input:focus,
.header-form-picker:focus {
  transform: scale(1.05);
}

.header-search-input:hover,
.header-search-button:hover {
  box-shadow: 0px 0px 3px 1px #398ab9;
}

.header-search-button:hover .search-button-icon {
  transform: rotate3d(1, 1, 0, 180deg);
}

main {
  background-color: #eeeeee;
}

.main-section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  row-gap: 75px;
  margin: 50px 0px;
}

.main-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  line-height: 1rem;
  border-radius: 5px;
}

.main-section-header-wrapper {
  height: fit-content;
  width: 100%;
}

.main-section-header-style {
  height: fit-content;
  width: 100%;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: normal;
}

.main-section-content-wrapper {
  flex: 0 0 fit-content;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.main-section-button-wrapper {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
}

.main-section-header-style.carousel {
  color: #1c658c;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: calc(20px + (40 - 20) * (100vw - 300px) / (768 - 300));
  background-color: rgba(57, 138, 185, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.carousel-img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-section.host {
  background-image: url('../images/index-main-hosting.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  justify-content: space-evenly;
}
.main-section-header-wrapper.host {
  margin-left: 30px;
  margin-top: 20px;
}

.main-section-header-style.host {
  color: #fff;
  text-align: left;
  font-size: calc(26px + (44 - 26) * (100vw - 300px) / (768 - 300));
}

.main-section-content-wrapper.host {
  padding-bottom: 15px;
  justify-content: left;
}

.main-section-button-wrapper.host {
  margin-left: 15px;
}

.hosting-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: calc(150px + (220 - 150) * (100vw - 300px) / (768 - 300));
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-size: calc(16px + (24 - 16) * (100vw - 300px) / (768 - 300));
  color: #303030;  
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  transition: transform 200ms ease-in-out;
}

.hosting-button:hover {
  transform: scale(1.1);
}

.hosting-button > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section.test {
  background-image: url('../images/index-main-backpackers.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: block;
  height: 350px;
  border-radius: 5px;
}

.main-section-content-wrapper.test {
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 0px 10px;
  height: 45%;
}

.main-section-text-wrapper {
  font-size: calc(12px + (20 - 12) * (100vw - 300px) / (768 - 300));
  line-height: 1.8rem;
  font-weight: 400;
  color: #303030;
}

.main-section-text-wrapper > p {
  margin-bottom: 0px;
}

.traveler-test-button {
  flex: 0 0 calc(90px + (150 - 90) * (100vw - 300px) / (768 - 300));
  margin-top: 15px;
  background-color: rgba(207, 79, 5, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 35px;
  transition: transform 100ms linear;
}

.traveler-test-button:hover {
  transform: scaleY(1.1);
}

.traveler-test-button > span {
  position: relative;
  left: 10px;
  top: 8px;
  font-size: calc(12px + (18 - 12) * (100vw - 300px) / (768 - 300));
  color: #d8d2cb;  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.traveler-test-button:hover > span {
  text-decoration: underline;
  font-size: calc(13.2px + (19.8 - 13.2) * (100vw - 300px) / (768 - 300));
}

.main-section.best {
  display: none;
}

footer {
  background-color: #d8d2cb;
}

@media (min-width: 768px) {
  .main-section {
    transition: box-shadow 100ms linear;
  }

  .main-section:hover {
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
  }

  .main-section-header-style.carousel {
    font-size: 40px;
  }

  .carousel-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #eeeeee;    
  }

  .carousel-item {
    position: relative;
  }

  .carousel-caption {
    position: absolute;
    top: 10px;
    padding-top: 0px !important;
  }

  .main-section.host {
    height: 450px;
  }

  .main-section-header-style.host {
    font-size: 48px;
  }

  .hosting-button {
    width: 220px;
    font-size: 24px;
  }

  .main-section-text-wrapper {
    font-size: 20px;
  }

  .main-section.test {
    height: 450px;
  }

  .traveler-test-button {
    width: 220px;
    height: 50px;
    padding-top: 8px;
  }

  .traveler-test-button:hover {
    transform: scale(1.1) translateX(-7px);
  }

  .traveler-test-button > span {
    font-size: 20px;
  }

  .traveler-test-button:hover > span {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .header-burger-wrapper {
    transition: all 100ms linear;
    order: -1;
    border: none;
    border-radius: 0px;
  }
  
  .header-burger-wrapper:hover {
    background-color: #1c658c;
  }
  
  .burger-icon {
    transition: all 100ms linear;
  }
  
  .header-burger-wrapper:hover > .burger-icon {
    text-shadow: none;
  }

  .header-logo-wrapper {
    flex: 1 1 calc(100% - 200px - 3.2rem);
  }

  .header-logreg-wrapper {
    display: block;
    flex: 0 0 200px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
  }

  .logreg-link {
    text-decoration: none;
    color: #d8d2cb;
    text-shadow: 1px 1px #1c658c;
    transition: font-size 100ms linear;
  }

  .header-logreg-wrapper > a:hover {
    font-size: 17px;
    text-decoration: none;
    color: #d8d2cb;
    text-shadow: 1px 1px #1c658c;
  }

  .main-section-header-style.carousel {
    font-size: 44px;
  }

  .main-section-header-wrapper.carousel {
    transition: background-color 200ms linear;
  }

  .main-section-header-wrapper.carousel:hover {
    background-color: #8dbee4;
  }

  .carousel-title {
    font-size: 40px;
  }

  .main-section.carosel {
    height: 550px;
  }

  .main-section.test {
    height: 550px;
  }

  .traveler-test-button > span {
    font-size: 26px;
  }

  .traveler-test-button:hover > span {
    font-size: 28px;
  }

  .traveler-test-button:hover {
    transform: scale(1.1) translateX(-9px);
  }
}