* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.paleta-colores {
  color: #1c658c;
  color: #398ab9;
  color: #d8d2cb;
  color: #eeeeee;
  color: #9145b6;
}

.text-headers-style {
  color: #d8d2cb;
  text-shadow: 1px 1px #9145b6;
  margin: 0;
  width: fit-content;
}

header {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
  background-image: url('../images/full-header-bg.webp');
}

.header-top-bar {
  background-color: #398ab9;
  flex: 1 1 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  
  align-items: flex-end;
}

.header-logo-wrapper {
  flex: 1 1 90%;
  height: 100%;
}

#text-logo-style {  
  font-size: 2.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: fit-content;
}

.header-burger-wrapper {
  flex: 0 0 3rem;
  position: relative;
  height: 100%;
  border-left: 1px solid #d8d2cb;
  border-bottom-left-radius: 5px;
  transition: background-color 150ms ease-out;
}

.header-burger-wrapper:hover {
  background-color: #368dc0;
}

.burger-icon {
  font-size: 2rem;  
  color: #d8d2cb;
  text-shadow: 1px 1px #9145b6;
  position: absolute;
  right: 0.6rem;
  top: 1rem;
}

.header-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  min-height: 300px;
  width: 90%;
  margin: auto;
}

.header-search-wrapper {
  flex: 0 0 3rem;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  column-gap: 0.5rem;
  justify-content: center;
}

.header-form-picker:focus,
.header-search-input:focus {
  background-color: rgba(216, 210, 203, 1);
}

.header-search-input, 
.header-search-button {
  height: 100%;
  background-color: rgba(216, 210, 203, 0.7);
  font-size: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: normal;
  color: #555;
}

.header-search-input { 
  flex: 1 1 calc(100% - 3rem);
  max-width: 400px;
  min-width: 200px;
}

.header-search-button {
  flex: 0 0 3rem;
  font-size: 1rem;
  padding: 0;
  color: #eeeeee;
  text-shadow: 1px 1px #9145b6;
  transition: all 100ms linear;
}

.search-icon {
  transition: transform 300ms linear;
}

.header-search-input:hover,
.header-search-button:hover {
  background-color: rgba(216, 210, 203, 1);
  box-shadow: 0px 0px 3px 1px #398ab9;
}

.header-search-button:hover .search-icon {
  transform: rotate3d(1, 1, 0, 180deg);
}

.header-form-wrapper {
  display: flex;
  flex-flow: column wrap;
  column-gap: 10px;
  height: 3rem;
  width: 100%;
  align-items: flex-end;
}

.header-picker-label-wrapper {
  flex: 0 0 100%;
  width: fit-content;
}

#header-checkout-wrapper,
#header-kids-wrapper {
  align-self: flex-start;
}

.header-label {
  display: block;
  height: 1rem;
  font-size: .85rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;  
}

.header-form-picker {
  max-width: 135px;
  height: 2rem;
  background-color: rgba(216, 210, 203, 0.7);
  font-size: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 5px;
  color: #555;
}

.header-form-picker:hover {
  background-color: rgba(216, 210, 203, 1);
  box-shadow: 0px 0px 3px 1px #398ab9;
}

input#date-checkin,
input#date-checkout {
  color: #555;
}

main {
  background-color: #eeeeee;
}

.main-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 90%;
  height: fit-content;
  margin: 20px auto;
  background-color: #fff;
  line-height: 1.5rem;
  background-color: #398ab9;
  row-gap: 10px;  
  border-radius: 2px;
}

.main-h2-wrapper {
  flex: 0 0 2.5rem;
  width: 100%;
  text-align: center;
  position: relative;
}

#most-visited-style {
  padding-top: 5px;
  font-size: calc(20px + (32 - 20) * (100vw - 300px) / (768 - 300));
  height: 2.2rem;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-1 {
  flex: 0 0 calc(100% - 2.5rem);
  width: 100%;
  border-radius: 5px;
}

.hosting-image {
  width: 180px;
  height: auto;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 2px rgba(216, 210, 203, 1);
}

@media (max-width: 340px) {
  #text-logo-style {
    position: static;
    transform: none;
    padding-left: 5px;
  }
}