* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.paleta-colores {
  color: #1c658c;
  color: #398ab9;
  color: #d8d2cb;
  color: #eeeeee;
  color: #9145b6;
}

header {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column nowrap;
  background-image: url('../images/mountain.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

.header-top-bar {
  background-color: rgba(235, 235, 235, 0.9);
  flex: 1 1 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  
  align-items: flex-end;
}

.header-logo-wrapper {
  flex: 1 1 90%;
  height: 100%;
}

.logo-text-style {  
  position: static;
  transform: none;
  padding-left: 5px;
  font-size: 2.8rem;
  width: max-content;
  color: #d8d2cb;
  text-shadow: 1px 1px #9145b6;
  margin: 0;
}

@media (min-width: 341px) {
  .logo-text-style {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: none;
  }
}

.header-burger-wrapper {
  flex: 0 0 3rem;
  position: relative;
  height: 100%;
  border-bottom-left-radius: 5px;
  transition: background-color 150ms ease-out;
}

.header-burger-wrapper:hover .header-logo-wrapper {
  background-color: #368dc0;
}

.burger-icon {
  font-size: 2rem;  
  color: #d8d2cb;
  text-shadow: 1px 1px #9145b6;
  position: absolute;
  right: 0.6rem;
  top: 1rem;
}

.header-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  min-height: 300px;
  width: 90%;
  margin: auto;
}

.header-search-wrapper {
  flex: 0 0 3rem;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  column-gap: 0.5rem;
  justify-content: center;
}

.header-search-input, 
.header-search-button {
  height: 100%;
  background-color: rgb(238, 238, 238);
  font-size: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: normal;
  color: #1c658c;
}

.header-search-input { 
  flex: 1 1 calc(100% - 3rem);
  max-width: 400px;
  min-width: 200px;
}

.header-search-button {
  flex: 0 0 3rem;
  font-size: 1rem;
  padding: 0;
  color: #1c658c;
  transition: all 100ms linear;
}

.search-button-icon {
  transition: transform 300ms linear;
}

.header-form-wrapper {
  display: flex;
  flex-flow: column wrap;
  column-gap: 10px;
  height: 3rem;
  width: 100%;
  align-items: flex-end;
}

.header-picker-label-wrapper {
  flex: 0 0 100%;
  width: fit-content;
}

#header-checkout-wrapper,
#header-kids-wrapper {
  align-self: flex-start;
}

.header-label {
  display: block;
  height: 1rem;
  font-size: .85rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #eeeeee;  
}

.header-form-picker {
  max-width: 135px;
  height: 2rem;
  background-color: rgb(238, 238, 238);
  font-size: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 5px;
  color: #1c658c;
}

input#date-checkin,
input#date-checkout {
  color: #1c658c;
}

.header-form-picker:hover {
  box-shadow: 0px 0px 3px 1px #398ab9;
}

.header-search-input:focus,
.header-form-picker:focus {
  transform: scale(1.05);
}

.header-search-input:hover,
.header-search-button:hover {
  box-shadow: 0px 0px 3px 1px #398ab9;
}

.header-search-button:hover .search-button-icon {
  transform: rotate3d(1, 1, 0, 180deg);
}

main {
  background-color: #eeeeee;
  padding-bottom: 20px;
}

.main-section {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  max-width: 600px;
  margin: 30px auto 0 auto;
  line-height: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.main-section-header-wrapper {
  height: fit-content;
  min-height: 2rem;
  width: 100%;
  position: relative;
}

.main-section-content-wrapper {
  flex: 0 0 fit-content;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.main-section-header-style#carousel {
  color: #1c658c;
  width: max-content;
  font-size: calc(20px + (32 - 20) * (100vw - 300px) / (768 - 300));
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.carousel-1 {
  width: 100%;
  border-radius: 5px;
}

.main-section#host {
  background-image: url('../images/hosting.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
}
.main-section-header-wrapper#host {
  padding-left: 10px;
}

.main-section-header-style#host {
  color: #fff;
  width: 100%;
  line-height: 2rem;
}

.main-section-content-wrapper#host {
  padding-bottom: 15px;
}

.main-host-buttons-wrapper {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
}

.hosting-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100px;
  height: 22px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-size: 0.75rem;
  color: #303030;  
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.hosting-button:hover {
  transform: scale(1.1);
}

.hosting-button > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section#test {
  background-image: url('../images/backpackers.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 250px;
  border-radius: 5px;
}

.main-section-content-wrapper#test {
  justify-content: space-between;
  align-items: flex-start;
}

.main-section-text-wrapper {
  margin: 10px 0 0 10px;
  font-size: calc(12px + (16 - 12) * (100vw - 300px) / (768 - 300));
  line-height: 1.4rem;
}

.traveler-test-button {
  flex: 0 0 95px;
  margin-top: 15px;
  background-color: rgba(207, 79, 5, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 30px;
}

.traveler-test-button:hover {
  transform: scale(1.1) translateX(-4.5px);
}

.traveler-test-button > span {
  position: relative;
  left: 10px;
  top: 4px;
  font-size: 0.75rem;
  color: #d8d2cb;  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.traveler-test-button:hover > span {
  text-decoration: underline;
  font-size: 0.825rem;
}

@media (min-width: 768px) {
  
}