<nav class="sticky-navbar">
  <a class="sticky-icon" href="#">&#9776;</a>
  <ul class="sticky-list">
    <% if (locals.user) { %>    
    <li class="sticky-item-wrapper">
      <a href="/users/logout" class="sticky-item"><strong>Cerrar sesión</strong></a>
    </li>
    <li class="sticky-item-wrapper">
      <a href="/users/detail" class="sticky-item">Datos de usuario</a>
    </li>
    <% } else { %>      
    <li class="sticky-item-wrapper">
      <a href="/users/register" class="sticky-item"><strong>Registrarse</strong></a>
    </li>
    <li class="sticky-item-wrapper">
      <a href="/users/login" class="sticky-item">Iniciar sesión</a>
    </li>
    <% } %>
    <li class="sticky-item-wrapper">
      <a href="/users" class="sticky-item">Sé anfitrión</a>
    </li>
    <li class="sticky-item-wrapper">
      <a href="/users/traveler" class="sticky-item">Test viajero</a>
    </li>
    <li class="burger-item-wrapper">
      <a href="http://localhost:3001" class="burger-item">Administrador</a>
    </li>
  </ul>
</nav>
