<footer class="registerFooter">
    <div>
      <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
      <p> Hola. ¿Cómo podemos ayudarte?</p>
      <p>Iniciá sesión para recibir ayuda con las reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de usuario "Primeros pasos en TuLugar" y si todavía necesitas asesoramiento no dudes en contactarnos.</p>
    </div>
    <div>
      <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
      <p> La manera en la que las personas viajan, trabajan y viven se está transformando. Desde innovaciones de producto hasta actualizaciones del programa “Alquila donde quieras en Argentina con TuLugar”, pasando por las últimas tendencias de viaje, descubre cómo se está adaptando TuLugar al futuro de los alquileres.</p>
      <p>¿Queres saber mas? Seguinos en las redes.</p>
    </div>
    <div>
      <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
      <p>TuLugar Teléfono Argentina: <b>+54 11 55 55 55 55</b>.</p>
      <p>TuLugar correo: <b>alquileresTemporarios@tulugar.com</b>. <a class="a" href="https://mail.google.com/"><i class="fas fa-envelope-open iconos"></i></a></p>
      <p>Contactar por Twitter: Conectarse en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM (mensaje directo).</p>
      <p>Contactar por Facebook: buscar la cuenta TuLugar oficial y publicar un mensaje (https://www.facebook.com/TuLugar/)</p>
    </div>
    <div>
      <h4>Nuestras redes <i class="fa fa-heart iconos"></i></h4>
      <p> Seguinos en todas nuestras redes y enamorate de cada rincon del país.</p>
      <h4><a class="a" href="https://twitter.com/"><i class="fab fa-twitter iconos"></i></a></h4>
      <h4><a class="a" href="https://www.facebook.com/"><i class="fab fa-facebook-square iconos"></i></a></h4>
      <h4><a class="a" href="https://www.instagram.com/"><i class="fab fa-instagram iconos"></i></a></h4>
    </div>
  </footer>
