<header class="registerHeader">
  <div class="topHeaderRegister">
    <!--LOGO-->
    <div class="logoHeaderRegister">
      <a href="/"
        ><img
          src="/images/TULUGAR.gif"
          alt="logo de la pagina con movimiento"
          width="40%"
      /></a>
    </div>
    <% if (locals.user) { %>
      <nav class="header-logreg-wrapper" style="margin-right: -3%;">
      <img src="/usersImages/<%= locals.user.avatar %>" width="100px"  style="border-radius: 10% ; margin-right: 5%;"> 
      <div>
        <h3 style="margin-left: 12%;"><%= locals.user.username %></h3>
      </div>
      <div class="logreg-button" style="margin-left: 10%; font-size: smaller;" id="login-button">
        <a href="/users/logout" class="logreg-link"><strong>Cerrar sesión</strong></a>
      </div>
          <% } else { %>
        <div class="logreg-button" id="login-button">
          <a class="logreg-link" href="/users/login">Iniciar sesión</a>
        </div>
        <div class="logreg-button" id="register-button">
          <a class="logreg-link" href="/users/register">Registrarse</a>
        </div>
      </nav>
      <% } %>
  </div>
</header>
