<header class="registerHeader">
  <div class="topHeaderRegister">
    <!--LOGO-->
    <div class="logoHeaderRegister">
      <a href="/./"
        ><img
          src="/images/TULUGAR.gif"
          alt="logo de la pagina con movimiento"
          width="40%"
      /></a>
    </div>
  </div>
</header>
