<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs')%>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/select.css" />
</head>
<body style="background-color: #eeeeee;">
  <%- include('../partials/header.ejs')%>
<main>
    <h2>Sé anfitrión: donde quieras, cuando quieras</h2>

    <h3>Al aceptar nuestras Condiciones de servicio y activar tu anuncio, te comprometes a cumplir con las leyes y normativas locales.</h3>
    <p>Términos para Anfitriones

        5.  Ser Anfitrión en Airbnb.
        
        5.1 Anfitrión. Como Anfitrión, Airbnb le ofrece el derecho a usar la Plataforma Airbnb para compartir su Alojamiento, Experiencia u otro Servicio del Anfitrión con nuestra animada comunidad de huéspedes y ganar dinero por hacerlo. Crear un Anuncio es fácil y usted tiene el control de cómo brinda el Servicio del Anfitrión: cómo fija su precio, la disponibilidad y las reglas de cada Anuncio.
        
        5.2 Contratar con Huéspedes. Cuando usted acepta una solicitud de reservación o recibe una confirmación de reservación a través de la Plataforma Airbnb, usted está celebrando un contrato directamente con el Huésped y usted es responsable de entregar su Servicio del Anfitrión en los términos y al precio especificados en su Anuncio. Usted también acepta pagar las tarifas aplicables, como la tarifa de servicio de Airbnb (y los impuestos aplicables) de cada reservación. Airbnb Pagos deducirá las cantidades que usted adeude de sus sumas a cobrar a menos que usted y Airbnb acuerden un método diferente. Cualesquier términos, políticas o condiciones que incluya en cualquier contrato complementario con los Huéspedes deben: (i) ser coherentes con los presentes Términos, nuestros Términos Legales Adicionales, Políticas, y la información proporcionada en su Anuncio, y (ii) aparecer de forma destacada en la descripción de su Anuncio.
        
        5.3 Independencia de los Anfitriones. La relación de usted con Airbnb es la de una persona o entidad independiente y no la de un empleado, agente, empresa conjunta o socio de Airbnb, excepto que Airbnb Pagos actúa como agente de cobro de pagos como se describe en los Términos de Pago. Airbnb no dirige ni controla su Servicio del Anfitrión, y usted acepta que tiene total discreción sobre cómo y cuándo prestar los Servicios del Anfitrión y a qué precio y en qué condiciones ofrecerlos.
        
        6.  Administración de su Anuncio.
        
        6.1 Creación y Administración de su Anuncio. La Plataforma Airbnb ofrece herramientas que le ayudarán a configurar y administrar un Anuncio. Su Anuncio debe incluir información completa y precisa sobre su Servicio del Anfitrión, su precio, otros cargos como tarifas de limpieza, tarifas del resort, tarifas fuera de línea y cualquier norma o requisito aplicable a sus Huéspedes o a su Anuncio. Usted es responsable de mantener la información de su Anuncio (incluida la disponibilidad del calendario) y el contenido (como las fotos) actualizados y precisos en todo momento. Le recomendamos que obtenga un seguro adecuado para sus Servicios del Anfitrión y le sugerimos que revise cuidadosamente los términos y condiciones de la póliza, incluidos los detalles de la cobertura y las exclusiones. Usted puede mantener solo un Anuncio por alojamiento, sin embargo, podría tener varios Anuncios para una sola propiedad si esta tiene varios alojamientos. Cualquier oferta de una Experiencia está sujeta a nuestros Términos adicionales para Anfitriones de Experiencias.
        
        6.2 Conozca sus Obligaciones Legales. Usted es responsable de comprender y cumplir con todas las leyes, normas, reglamentos y contratos con terceros que se apliquen a su Anuncio o Servicios del Anfitrión. Por ejemplo: algunos propietarios y/o contratos, o reglas de asociación de propietarios y condominios, restringen o prohíben el subarrendamiento, o bien la prestación de Servicios del Anfitrión para estancias cortas y/o largas. Algunas ciudades tienen leyes de zonificación u otras similares que restringen el compartir espacios en zonas residenciales para estancias cortas. Algunas jurisdicciones exigen que los Anfitriones se inscriban en un registro, obtengan un permiso o licencia antes de prestar determinados Servicios del Anfitrión (como alojamientos para estancias cortas o largas, preparación de alimentos, venta de alcohol, visitas guiadas o conducción de vehículos). En algunos lugares, es posible que los Servicios del Anfitrión que desea ofrecer estén prohibidos por completo. Algunas jurisdicciones exigen que registre a los Huéspedes que se queden en su alojamiento. Algunas jurisdicciones tienen leyes que crean derechos de arrendamiento adicionales para los Huéspedes y obligaciones adicionales para los Anfitriones. Por ejemplo, algunos lugares tienen leyes de arrendador-arrendatario, control de precio, y desalojo, que podrían aplicarse a las estancias más largas. Consulte las normas locales para saber cuáles se aplican a los Servicios del Anfitrión que planea ofrecer. La información que proporcionamos con respecto a los requisitos legales es únicamente de carácter informativo, y usted debe corroborar de forma independiente sus obligaciones. Usted es responsable de administrar y utilizar los datos personales de los Huéspedes y otras personas de conformidad con las leyes de privacidad aplicables y los presentes Términos, incluidos nuestros Estándares de Privacidad para Anfitriones. Si tiene alguna duda sobre cómo se aplican las leyes locales, debe buscar asesoría legal en todo momento.
        
        6.3 Clasificación de Búsqueda. La clasificación de los Anuncios en los resultados de búsqueda en la Plataforma Airbnb depende de una variedad de factores, incluidos los siguientes parámetros principales:
        
            Parámetros de búsqueda del Huésped (por ejemplo, número de Huéspedes, tiempo y duración del viaje, rango de precios)
            Características del Anuncio (por ejemplo, precio, disponibilidad del calendario, número y calidad de las imágenes, Evaluaciones, tipo de Servicio del Anfitrión, estatus del Anfitrión, antigüedad del Anuncio, popularidad promedio del Huésped)
            Experiencia de reservación del Huésped (por ejemplo, servicio al cliente e historial de cancelaciones del Anfitrión, facilidad de reservación)
            Requisitos del Anfitrión (por ejemplo, número mínimo o máximo de noches, hora límite de reservación)
            Preferencias del Huésped (por ejemplo, viajes anteriores, Anuncios guardados, ubicación desde la que el Huésped está buscando)
        
        Los resultados de búsqueda pueden aparecer diferentes en nuestra aplicación móvil Airbnb de lo que aparecen en nuestro sitio web Airbnb. Airbnb puede permitir que los Anfitriones promocionen sus Anuncios en las búsquedas o en cualquier otro lugar de la Plataforma Airbnb pagando una tarifa adicional. Puede encontrar más información sobre los factores que determinan cómo aparece su Anuncio en los resultados de búsqueda, los programas promocionales actuales (si los hay), y cómo identificamos el Contenido promocional en nuestro Centro de Ayuda.
        
        6.4 Responsabilidades. Usted es responsable de sus propios actos y omisiones y también es responsable de los actos y omisiones de cualquier persona a la que permita participar en la prestación de sus Servicios del Anfitrión. Usted es responsable de establecer el precio y las reglas y requisitos de su Anuncio. Usted debe describir todos y cada uno de los cargos y tarifas en la descripción de su Anuncio y no podrá cobrar ninguna tarifa o cargo adicional fuera de la Plataforma Airbnb, excepto los expresamente autorizados por la Política de Tarifas Fuera de Línea. No incentive a los Huéspedes a crear cuentas de terceros, enviar evaluaciones, proporcionar su información de contacto o tomar otras medidas fuera de la Plataforma Airbnb en infracción a la Política de Actividad Externa a la Plataforma.
        
        6.5 Compartir Alojamientos como Equipo u Organización. Si usted trabaja con un coanfitrión o como parte de un equipo, empresa u otra organización, la entidad y cada persona que participe en la prestación de Servicios del Anfitrión es responsable como Anfitrión en virtud de los presentes Términos. Si usted acepta condiciones o celebra contratos, declara y garantiza que está autorizado para celebrar contratos y comprometer a su equipo, empresa u otra organización, y que cada entidad que utiliza está en regla de acuerdo con las leyes del lugar donde se establece. Si realiza otras funciones, usted reconoce y garantiza que tiene autorización para realizarlas. Si usted instruye a Airbnb para que transfiera una parte de su cobro a un coanfitrión u otros Anfitriones, o que envíe pagos a otra persona, usted debe estar autorizado para hacerlo y es responsable de los importes de pago y de la exactitud de la información de cobro que proporcione.
        
        6.6 Asunción de Riesgos. Usted reconoce que ser anfitrión conlleva riesgos inherentes y acepta que asume todo riesgo que se derive de su acceso y uso de la Plataforma Airbnb, la oferta de Servicios del Anfitrión o cualquier interacción que tenga con otros Miembros, ya sea en persona o en línea. Usted acepta que ha tenido la oportunidad de informarse sobre la Plataforma Airbnb y cualquier ley, reglamento, normativa u obligación que pudiera aplicarse a sus Anuncios o Servicios del Anfitrión y que para ello no se basa en ninguna manifestación de ley o de derecho realizada por Airbnb.
        
        7.  Cancelaciones, Contratiempos de Viaje y Modificaciones de Reservaciones.
        
        7.1 Cancelaciones y Contratiempos de Viaje. En general, si un Huésped cancela una Reservación, el importe que a usted se le pague se determinará en función de la política de cancelación que se aplique a dicha Reservación. Como Anfitrión, usted no debe cancelarle a un Huésped sin un motivo válido de acuerdo con la Política de Causas de Fuerza Mayor o ley aplicable. Si usted como Anfitrión le cancela a un Huésped sin una razón válida, podríamos imponer una tarifa de cancelación y otras consecuencias. Si: (i) un Huésped experimenta un Contratiempo de Viaje (según se define en la Política de Reembolso al Huésped), (ii) una Causa de Fuerza Mayor o (iii) se cancela una Reservación de acuerdo con la Sección 13 de estos Términos, el importe que a usted se le pague como Anfitrión se reducirá en la cantidad que se le reembolse o proporcione al Huésped y en cualquier otro costo razonable en el que Airbnb incurra como resultado de la cancelación. Si un Huésped recibe un reembolso después de que usted haya recibido el cobro, o si el importe del reembolso y otros gastos incurridos por Airbnb exceden el monto que usted ha cobrado, Airbnb (a través de Airbnb Pagos) podría recuperarlo de usted, incluso compensando el reembolso con sus futuros cobros en calidad de Anfitrión. Usted acepta que la Política de Reembolso al Huésped de Airbnb, la Política de Causas de Fuerza Mayor y los presentes Términos prevén la política de cancelación que usted estableció en situaciones en las que se permite cancelar una Reservación o emitir reembolsos a los Huéspedes. Si se espera razonablemente proporcionar un reembolso a un Huésped en virtud de una de las políticas mencionadas precedentemente, se podría retrasar el envío de cualquier cobro correspondiente a dicha Reservación hasta que se tome una decisión sobre el reembolso. Si usted es Anfitrión de una Experiencia, tenga en cuenta que la Política de Cancelación de Experiencias, la Política de Reembolso al Huésped de Experiencias y las diferentes tarifas y consecuencias de cancelación se aplican a sus Reservaciones. Consulte cada Política para obtener detalles sobre lo que está cubierto y cuál será su cobro en cada situación.
        
        <p>7.2 Modificaciones de Reservaciones. Los Anfitriones y Huéspedes son responsables de cualesquiera Modificaciones de reservaciones que acepten realizar a través de la Plataforma Airbnb o que indiquen realizar en su nombre al servicio directo de atención al cliente de Airbnb, y aceptan pagar cualquier cantidad adicional, comisión o impuesto asociado con una Modificación de reservación.</p>
        
        8.  Impuestos.
        
        <p>8.1 Impuestos al Anfitrión. Como Anfitrión, usted es responsable de averiguar y cumplir sus obligaciones legales respecto a declarar, recaudar, liquidar o incluir en el precio el IVA u otros impuestos indirectos aplicables, impuestos sobre el alojamiento, tasas turísticas, impuestos sobre la renta u otros gravámenes (en lo sucesivo “Impuestos”).</p>
        
        <p>8.2 Recaudación y liquidación por medio de Airbnb. En las jurisdicciones donde Airbnb facilita la recaudación y/o la remisión de los Impuestos en nombre de los Anfitriones, usted instruye y autoriza a Airbnb para que recaude los Impuestos en su nombre y/o los remita a la autoridad fiscal correspondiente. Cualesquiera de los impuestos que Airbnb recauda y/o remite se indican a los Miembros en los registros de sus transacciones, según corresponda. Airbnb podría solicitar importes adicionales a los Miembros (incluyendo deducirlos de los cobros futuros) en caso de que los Impuestos recaudados y/o remitidos sean insuficientes para cumplir plenamente con las obligaciones fiscales de los Miembros, y usted acepta que su único recurso ante los Impuestos recaudados por Airbnb es un reembolso de la autoridad fiscal correspondiente. Usted reconoce y acepta que Airbnb se reserva el derecho, con previo aviso a los Miembros afectados, de cesar la recaudación y la remisión de Impuestos en cualquier jurisdicción por cualquier motivo.</p>
        
        <p>8.3 Información Fiscal. En ciertas jurisdicciones, es posible que las regulaciones fiscales requieran que se recopile y/o reporte información fiscal sobre usted, que se retengan impuestos de los cobros, o ambos. Si usted no proporciona la documentación que se considere suficiente para justificar dicha obligación de retener los Impuestos de sus cobros, podrían retenerse los cobros hasta un importe según lo exija la ley, hasta que se proporcione documentación suficiente. Usted acepta que Airbnb podría emitir en su nombre facturas o documentación similar en relación con el IVA, el GST, el consumo u otros impuestos para sus Servicios del Anfitrión a fin de facilitar la presentación de informes fiscales precisos por su parte, los Huéspedes y/o sus organizaciones.</p>






    <div>
    <p>
        <button class="btn btn-primary" style="background-color: #398AB9; color: #eeeeee;margin: 3% 3%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            Cómo calculamos tus ingresos potenciales
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 80%;">
            <p>Hacemos algunas suposiciones y cálculos sencillos para determinar tus ingresos:</p>
            <p><i class="fa fa-hand-point-right"></i> Si tenés un alojamiento entero, suponemos que podés recibir cuatro huéspedes. Si tenés una habitación privada, dos huéspedes, y en el caso de que tengas una habitación compartida, solo uno. Podés modificar tus selecciones en el menú desplegable cuando quieras.</p>
            <p><i class="fa fa-hand-point-right"></i> Tomamos como referencia la mediana del precio por noche (sin gastos, tarifas ni impuestos) teniendo en cuenta los datos de las reservas en tu zona de los últimos 12 meses.</p>
            <p><i class="fa fa-hand-point-right"></i> Luego, la multiplicamos por el número total de noches ocupadas para obtener los ingresos mensuales estimados. El número de noches que podrías hospedar está basado en la frecuencia con la que otras personas de tu zona reciben huéspedes.</p>
            <p>Tené en cuenta que estas son solo estimaciones. El total de tus ganancias reales depende de otros factores, como tu disponibilidad, el precio, los índices de aceptación y cancelación, las restricciones legales y la demanda en tu zona.</p>
            <p>Además, tu capacidad para hospedar puede depender de la legislación local de tu zona.</p>
          </div>
        </div>
      </div>
      
      <p>
        <button class="btn btn-primary" style="background-color: #398AB9; color: #eeeeee; margin: 3% 3%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            ¿Qué asuntos legales y normativos debería considerar antes de ser anfitrión?
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 80%;">
            <p>Antes de tomar la decisión de convertirte en anfitrión de TuLugar, es importante que entiendas cómo funciona la legislación aplicable en tu ciudad:</p>
            <p>En algunos lugares, las leyes restringen la capacidad para alojar huéspedes a cambio de dinero durante estancias cortas. Estas leyes suelen formar parte de los códigos urbanísticos o administrativos de la ciudad en cuestión. En muchas, debes inscribirte en el registro, conseguir un permiso u obtener una licencia antes de poder publicar tu anuncio o aceptar reservaciones de huéspedes. También es posible que algunos tipos de reservaciones a corto plazo estén prohibidos. Cada gobierno aplica estas leyes de formas diferentes. Las sanciones pueden ir desde multas a otros tipos de imposiciones.</p>
            <p>Estas leyes pueden ser confusas. Estamos trabajando con gobiernos alrededor del mundo para ayudar a que estas leyes sean más claras, de forma que resulte fácil para cualquiera comprenderlas. </p>
            <p>En algunas jurisdicciones, será TuLugar quien se encargue de calcular, recaudar y realizar el pago de los impuestos sobre el alojamiento en tu nombre. Estos impuestos se calculan de forma distinta dependiendo de la jurisdicción: estamos haciendo todo lo posible para que anfitriones de todo el pais puedan beneficiarse de nuestra ayuda a la hora de gestionarlos.</p>
            <p>Mientras tanto, te pedimos que consultes la legislación local antes de publicar tu anuncio en TuLugar. Es posible que contemos con más información sobre la legislación y las normativas de tu zona en el apartado La legislación de tu ciudad de la página sobre cómo ser un anfitrión responsable.</p>
          </div>
        </div>
      </div>

      

      
      

    </div>
</main>







  <%- include('../partials/footer.ejs')%>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>