<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head.ejs')%>
 <link rel="stylesheet" href="/css/login.css" />
</head>
<body class="register">
  <%- include('../partials/header.ejs')  %> 
<main class="registerMain">
  <div class="cajaTituloHeaderRegister">
    <p class="tituloHeaderRegister desaparecerEnMediano">
      ¡ Ingresá y encontrá TuLugar !
      <p class="tituloHeaderRegister apareceMedianoRegister">TuLugar!</p>
    </p> 
  </div>
  <div class="divPrincipalMainRegister">
    <form>
      <div class="primerDivCuestionarioRegister">
        <div class="primerCuestionarioRegister">
          <label for="User"><i class="fas fa-user"></i> Ingresa tu nombre de usuario</label>
          <input
            type="text"
            name="User"
            placeholder="Usuario"
            minlength="4" 
            title="Al menos debe contener 4 caracteres"
          />
        </div>
        <div class="primerCuestionarioRegister">
          <label for="password"><i class="fas fa-key"></i> Ingresa tu contraseña</label>
          <input type="password" name="password" placeholder="Contraseña" pattern="[A-Za-z]{2}[0-9]{2}" minlength="4" title="Su contraseña debe contener al menos 2 letras y 2 numeros" />
        </div>
        <h4 class="letraChec"><input type="checkbox" style="cursor: pointer;">  Recordar usuario y contraseña</h4>
        <button class="submitRegister" type="submit">
          <a class="a" style="font-size: larger" href="/">Ingresa</a>
        </button>
      </div>
      <br>
      <div class="primerDivCuestionarioRegister">
        <br><br>
        <div class="primerCuestionarioRegister">
          <label for="contraseña"><i class="fas fa-lock"></i> ¿Olvidaste tu contraseña? </label>
          <input
            type="e-mail"
            name="e-mail"
            placeholder="Dejanos tu e-mail y revisa tu casilla"
            minlength="4" 
            title="Al menos debe contener 4 caracteres"
          />
          <br><br>
          <button class="submitRegisterLogin submitRegister" type="submit">
            <a class="a" style="font-size: larger" href="/">Enviar</a>
          </button>
        </div>
      <div class="ingresaConRedesRegister">
        <button type="button" > <a class="a" href="/users/register"><p> ¿No tenes usuario? Registrate <i class="fa fa-hand-pointer"></i> </p></a></button>
      </div>
    </form>
  </div>
</main>
<%- include('../partials/bottomBurgerMenu.ejs'); %>
<!-- --------------footer -->
<%- include('../partials/footer'); %>
</body>
</html>