<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/head')%>
</head>
    <body class="register">
    <%- include('../partials/header.ejs')%>
    <main class="registerMain">
      <div class="cajaTituloRegister">
        <p class="tituloRegister desaparecerEnMediano">
          ¡ Registrate en TuLugar !
          <p class="tituloRegister apareceMedianoRegister">TuLugar!</p>
        </p> 
      </div>
      <div class="divPrincipalMainRegister">
        <form>
          <section class="primerSectionCuestionarioRegister">
            <div class="primerCuestionarioRegister">
              <label for="usuario"><i class="fas fa-user"></i> Nombre de usuario </label>
              <input type="usuario" name="usuario" placeholder= "Elegi tu nombre de usuario"/>
            </div>
            <div class="primerCuestionarioRegister">
              <label for="contraseña"><i class="fas fa-key"></i> Ingresa una contraseña </label>
              <input type="password" name="contraseña" placeholder= "Elegi tu contraseña" />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="RepeatContraseña"> <i class="fas fa-lock"></i> Repeti la contraseña </label>
              <input type="password" name="RepeatContraseña" placeholder= "Repeti tu contraseña"/>
            </div>
            <div class="primerCuestionarioRegister checkbox">
              <label for="edad" style="font-size: larger;"><i class="fas fa-user"></i> Soy mayor de 18 años </label>
              <input style="width: 25px; margin-top: -6px;" type="checkbox" name="edad"/>
            </div>
          </section>
          <button class="submitRegister" type="submit">
            <a href="/index"></a>Ingresa a TuLugar
          </button>
          <section>
            <h3>Ingresa con</h3>
            <div class="ingresaConRedesRegister">
              <button type="button"><p><i class="fab fa-google"></i>oogle</p></button>
              <button type="button"><p><i class="fab fa-facebook-square"></i>acebook</p></button>
              <button type="button"><p><i class="far fa-envelope"></i> e-mail</p></button>
            </div>
          </section>
        </form>
      </div>
    </main>
    <%- include('../partials/bottomBurgerMenu.ejs'); %>
    <%- include('../partials/footer'); %>
  </body>
</html>
