<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0bc48b6d6d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <title>TuLugar</title>
  </head>
  <body class="register">
    <header class="registerHeader">
      <div class="topHeaderRegister">
        <!--LOGO-->
        <div class="logoHeaderRegister">
          <a href="./"><img
            src="images/TULUGAR.gif"
            alt="logo de la pagina con movimiento"
            width="40%"
          /></a>
        </div>
      </div>
    </header>
    <!--------------------------------------------------------------------termina el header-->
    <main class="registerMain">
      <!--texto de Titulo-->
      <div class="cajaTituloRegister">
        <p class="tituloRegister desaparecerEnMediano">
          Registrate en TULUGAR!
          <p class="tituloRegister apareceMedianoRegister">TuLugar!</p>
        </p> 
      </div>
      <div class="divPrincipalMainRegister">
        <form>
          <section class="primerSectionCuestionarioRegister">
            <div class="primerCuestionarioRegister">
              <label for="usuario"><i class="fas fa-user"></i> Nombre de usuario </label>
              <input
                type="usuario"
                name="usuario"
                placeholder= "Elegi tu nombre de usuario"
              />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="contraseña"><i class="fas fa-key"></i> Ingresa una contraseña </label>
              <input type="password" name="contraseña" />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="RepeatContraseña"> <i class="fas fa-lock"></i> Repeti la contraseña </label>
              <input type="password" name="RepeatContraseña" />
            </div>
            <div class="primerCuestionarioRegister checkbox">
              <label for="edad"><i class="fas fa-user"></i> Soy mayor de 18 años </label>
              <input
                type="checkbox"
                name="edad"
              />
          </section>
          <button class="submitRegister" type="submit">
            <a href="./"></a>Ingresa a TU LUGAR
          </button>
          <section>
            <h3>Ingresa con</h3>
            <div class="ingresaConRedesRegister">
              <button type="button" > <i class="fab fa-google"></i><p>google</p><p></p></button>
              <button type="button"> <i class="fab fa-facebook-square"></i><p>facebook</p> <p></p></button>
              <button type="button"> <i class="far fa-envelope"></i><p>e-mail</p><p></p></button>

            </div>
          </section>
        </form>
      </div>
    </main>
    <!---------------------------------------------------------------------termina el cuerpo principal-->
    <footer class="registerFooter">
      <div>
        <h4>Ayuda<i class="fas fa-hands-helping iconos"></i></h4>
        <p> Hola. ¿Cómo podemos ayudarte?</p>
        <p>Iniciá sesión para recibir ayuda con las reservas, tu cuenta y mucho más. Sacate tus dudas con las guías de usuario "Primeros pasos en TuLugar" y si todavía necesitas asesoramiento no dudes en contactarnos.</p>
      </div>
      <div>
        <h4>Sobre nosotros<i class="fa fa-user-friends iconos"></i></h4>
        <p> La manera en la que las personas viajan, trabajan y viven se está transformando. Desde innovaciones de producto hasta actualizaciones del programa “Alquila donde quieras en Argentina con TuLugar”, pasando por las últimas tendencias de viaje, descubre cómo se está adaptando TuLugar al futuro de los alquileres.</p>
        <p>¿Queres saber mas? Seguinos en las redes.</p>
      </div>
      <div>
        <h4>Contacto <i class="fas fa-mail-bulk iconos"></i></h4>
        <p>TuLugar Teléfono Argentina: <b>+54 11 55 55 55 55</b>.</p>
        <p>TuLugar correo: <b>alquileresTemporarios@tulugar.com</b>. <a class="a" href="https://mail.google.com/"><i class="fas fa-envelope-open iconos"></i></a></p>
        <p>Contactar por Twitter: Conectarse en twitter.com/ buscar la cuenta @tulugarhelp y mandarle un DM (mensaje directo).</p>
        <p>Contactar por Facebook: buscar la cuenta TuLugar oficial y publicar un mensaje (https://www.facebook.com/TuLugar/)</p>
      </div>
      <div>
        <h4>Nuestras redes <i class="fa fa-heart iconos"></i></h4>
        <p> Seguinos en todas nuestras redes y enamorate de cada rincon del país.</p>
        <h4><a class="a" href="https://twitter.com/"><i class="fab fa-twitter iconos"></i></a></h4>
        <h4><a class="a" href="https://www.facebook.com/"><i class="fab fa-facebook-square iconos"></i></a></h4>
        <h4><a class="a" href="https://www.instagram.com/"><i class="fab fa-instagram iconos"></i></a></h4>
      </div>
    </footer>
  </body>
</html>
