<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0bc48b6d6d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <title>TuLugar</title>
  </head>
  <body class="register">
    <header class="registerHeader">
      <div class="topHeaderRegister">
        <!--LOGO-->
        <div class="logoHeaderRegister">
          <a href="./"><img
            src="images/TULUGAR.gif"
            alt="logo de la pagina con movimiento"
            width="40%"
          /></a>
        </div>
      </div>
    </header>
    <!--------------------------------------------------------------------termina el header-->
    <main class="registerMain">
      <!--texto de Titulo-->
      <div class="cajaTituloRegister">
        <p class="tituloRegister desaparecerEnMediano">
          Registrate en TULUGAR!
          <p class="tituloRegister apareceMedianoRegister">TuLugar!</p>
        </p> 
      </div>
      <div class="divPrincipalMainRegister">
        <form>
          <section class="primerSectionCuestionarioRegister">
            <div class="primerCuestionarioRegister">
              <label for="usuario"><i class="fas fa-user"></i> Nombre de usuario </label>
              <input
                type="usuario"
                name="usuario"
                placeholder= "Elegi tu nombre de usuario"
              />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="contraseña"><i class="fas fa-key"></i> Ingresa una contraseña </label>
              <input type="password" name="contraseña" />
            </div>
            <div class="primerCuestionarioRegister">
              <label for="RepeatContraseña"> <i class="fas fa-lock"></i> Repeti la contraseña </label>
              <input type="password" name="RepeatContraseña" />
            </div>
            <div class="primerCuestionarioRegister checkbox">
              <label for="edad"><i class="fas fa-user"></i> Soy mayor de 18 años </label>
              <input
                type="checkbox"
                name="edad"
              />
          </section>
          <button class="submitRegister" type="submit">
            <a href="./"></a>Ingresa a TU LUGAR
          </button>
          <section>
            <h3>Ingresa con</h3>
            <div class="ingresaConRedesRegister">
              <button type="button" > <i class="fab fa-google"></i><p>google</p><p></p></button>
              <button type="button"> <i class="fab fa-facebook-square"></i><p>facebook</p> <p></p></button>
              <button type="button"> <i class="far fa-envelope"></i><p>e-mail</p><p></p></button>

            </div>
          </section>
        </form>
      </div>
    </main>
    <!---------------------------------------------------------------------termina el cuerpo principal-->
    <%- include('../partials/footer'); %>
  </body>
</html>
