<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs')%>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/select.css" />
</head>
<body style="background-color: #eeeeee;">
  <%- include('../partials/header.ejs')%>
<main style="text-align: justify; padding: 0 8%; " >
  <h2>TEST | ¿Qué tipo de viajero eres?</h2><br><br><br>

 <div>
    <p>Hay 5 tipos de viajeros, que se determinan según tu comportamiento antes y durante el viaje. <b>Ya sea que comiences de forma impulsiva y no planees con detenimiento, o seas métodico y cuides cada detalle</b>. Toma lápiz y papel o abre una nota en tu smartphone, y prepárate para responder un par de preguntas que darán como resultado el perfil que va más contigo a la hora de viajar.</p>
 </div> 
 <hr>
 <div>
     <img src="/images/tipos-de-viajeros-900x485.jpg" class="main-section test" style="margin:auto">
 </div>
 <hr>
 <br>
<div style="text-align:center ;">
 <h3>¿Cuál es tu prioridad al momento de planear tu viaje?</h3>
 <p>a) Organizar tu itinerario tomando como guía listas de lugares destacados del destino</p>
 <p>b) Visitar los sitios trend del destino y estar lo más cómodo posible</p>
 <p>c) Admirar la naturaleza y encontrar experiencias de aventura</p>
 <p>d) Experimentar cómo viven las personas del lugar y descubrir su cultura</p>
 <p>e) Trazar una ruta que te permita tomar las mejores fotografías para tus redes sociales</p>
 <br>
 <h3>¿Qué no puede faltar en tu maleta o mochila?</h3>
 <p>a) una libreta para tener tu lista de cosas por hacer a la mano</p>
 <p>b) una tarjeta de crédito </p>
 <p>c) un casco para andar en bicicleta </p>
 <p>d) un libro</p>
 <p>e) tu smartphone </p>
 <br>
 <h3>¿Cuál es el destino de tus sueños?</h3>
 <p>a) Cualquiera, mientras tenga todo muy organizado</p>
 <p>b) Algún país de Europa, donde pueda conocer varios museos</p>
 <p>c) La selva o algún lugar muy exótico</p>
 <p>d) Un Pueblo Mágico en el que pueda estar en contacto con su gente</p>
 <p>e) Un destino romántico, donde pueda tomar muchas fotografías de los paisajes</p>
 <br>
 <h3>Cuando decides cuánto vas a gastar...</h3>
 <p>a) Te aseguras de llevar justo lo que necesitas y procuras adquirir los vuelos a un precio razonable</p>
 <p>b) Llevas tarjeta de crédito para gastar en todo lo que necesites</p>
 <p>c) Te ajustas a tus posibilidades y llevas tu tarjeta de crédito por si requieres algo extra</p>
 <p>d) Procuras llevar una cantidad moderada en moneda local y el resto lo pagas con la tarjeta de crédito</p>
 <p>e) Llevas solo lo justo en efectivo y el resto lo muevas de forma digital </p>
 <br>
 <h3>Una vez en tu destino, ¿qué tipo de transporte utilizas?</h3>
 <p>a) Rento un auto y hago la reserva con tiempo</p>
 <p>b) Contrato una van o un chofer, así nadie tiene que manejar durante las vacaciones</p>
 <p>c) Camino mucho y a veces pido un aventón o autostop</p>
 <p>d) Me muevo en el transporte local. Así gasto mi dinero en conocer los lugares</p>
 <p>e) Uso taxi, Uber o cualquier servicio de transporte que sea seguro para transportar mis aparatos tecnológicos</p>
 <br>
 <h2>RESULTADOS</h2>
 <br>
 <h3>Mayoría de A</h3>
 <p><b>Viajero organizado.</b>Te gusta saber todo acerca del destino que visitas, buscas opciones de hospedaje y prefieres obtener vuelos cuando están a un menor precio. Disfrutas de tener una agenda clara de todo lo que harás. Puesdes inscribirte a boletines de páginas que venden paquetes de vuelo y hospedaje, las cuales facilitan que tengas un mayor abanico de opciones para realizar. Un hotel todo incluido o acercarte a una agencia de viajes pueden ayudarte a facilitar la resolución de todas tus dudas.</p>
 <br>
 <h3>Mayoría de B </h3>
 <p><b>Viajero VIP.</b>Tu objetivo vacacional es despreocuparte de todo. Quieres unas vacaciones lujosas, masajes y cenas gourmet o acudir a los lugares de mayor tendencia en el destino. Te gusta dormir en hoteles cinco estrellas para no tener que preocuparte por nada. </p>
 <br>
 <h3>Mayoría de C</h3>
 <p><b>Viajero aventurero. </b>Para ti tu viaje soñado tiene que estar repleto de adrenalina, mientras más extremas sean las activiades más sientes que estás de vacaciones. Te encanta dejarte sorprender, disfrutas de lugares que quizá nadie conoce y puedes adaptarte a cualquier entorno. Eres la definición del mochilero que recorre el países enteros con presupuestos accesibles y sed de descubrir. Recuerda tomar siempre medidas de precaución y tener a la mano los números de emergencia del lugar al que vayas.</p>
 <br>
 <h3>Mayoría de D</h3>
 <p><b>Viajero práctico. </b>Tu objetivo es conocer la cultura del destino. Quieres vivir la experiencia completa del lugar que visitas y adentrarte a las tradiciones y costumbres de sus habitantes. Te fascina probar los platillos típicos y llegar a los lugares favoritos de los locales. Eres un apasionado de los idiomas y los museos para conocer más a fondo la historia de tu destino. </p>
 <br>
 <h3>Mayoría de E</h3>
 <p><b>Viajero tech. </b>Tienes dominado el tema de las aplicaciones móviles. Te mueves como pez en el agua y puedes armar un viaje entero solo con tu smartphone. Ya no llevas efectivo porque prefieres las transacciones electrónicas, pero recuerda que no todos los destinos están preparados para recibir pagos de este tipo. Lleva siempre contigo una batería de respuesto para que no te quedes sin energía en el celular y usa solo aplicaciones confiables cuyo uso esté avalado por otros usuarios. </p>
 <br>
 </div>

</main>
<%- include('../partials/footer.ejs')%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>